<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}-社区</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.HTML_STATIC}/css/showimgs.css">
    <link rel="stylesheet" type="text/css" href="{$Think.HTML_STATIC}/css/webuploader.css">
    <link href="{$Think.HTML_STATIC}/css/add.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
    <style type="text/css">
     #imgPicker p{ color: #fff}
     #loading{ height: 100%; margin-top: 0px;}
    </style>
</head>
<body style="overflow: hidden;">
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="self.location=document.referrer;"></a>
    <h1 class="mui-title">发帖</h1>
</header>
<div class="form1">
    <input type="text" value="" name="foname" id="foname" placeholder="请输入您的标题" />
    <textarea name="text" cols="" rows="5" placeholder="请输入正文内容" id="text"></textarea>
</div>
<div class="form2">
    <p>照片/视频上传</p>
    <div class="addimg" id="uploadimg">
        <div id="imgPicker"><p style="font-size: 50px; color: #fff">+</p><p>最多9张图片</p></div>
        <div id="fileList" class="uploader-list" style="margin-top: 15px;"></div>
    </div>
</div>

<div style="height: 45px;"></div>
<div class="upsub" id="subbutt">发表</div>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/webuploader.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.zoom.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.previewimage.js"></script>
<script>

    mui.previewImage();
    $('#subbutt').click(function()
    {

        var mycars=new Array();
        $('#fileList img').each(function(index){
            mycars[index]=$(this).attr('data-preview-src');
        });
        foname=$('#foname').val();
        text=$('#text').val();
        if(foname=='')
        {
            alert('请输入标题');
            return false;
        }

        if(text=='')
        {
            alert('请输入内容');
            return false;
        }
        $('body').append("<div class='mb' id='loading'></div>");
        $.ajax({
            type: "post",
            url: '{:url("add")}',
            data: {tid:{$tid},images:mycars,text:text,foname:foname,__token__:'{$Request.token}'},
            dataType: "json",
            success: function(data)
            {
                if(data.code==1)
                {
                    window.location.href="{:url('detail')}?id="+data.id+"";
                }
                else
                {
                    $('#loading').remove();
                    alert(data.msg);
                }
            }
        });



    });

    //上传图片
    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: false,
        //允许上传的图片个数
        fileNumLimit: 9,
        // swf文件路径
        swf: 'js/Uploader.swf',

        // 文件接收服务端。
        server: '',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#imgPicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $list = $("#fileList"),
                $li = $(
                        '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img>' +
                        '</div>'
                ),
                $img = $li.find('img');

        // $list为容器jQuery实例
        $list.append( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 200 x 200
        uploader.makeThumb( file, function( error, src )
        {
            if ( error )
            {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, 200, 200);

        uploader.makeThumb( file, function( error, src )
        {
            if ( error )
            {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'data-preview-src', src );
        }, 0.5, 0.5);
    });
</script>
</body>
</html>