<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <link href="{$Think.HTML_STATIC}/css/forum.css" rel="stylesheet" type="text/css">
</head>
<body class="bodyb">
<div class="stop">
    <div class="st1"><i class="iconfont">&#xe720;</i></div>
    <div class="st2">植发论坛</div>
    <div class="st3"><i class="iconfont" id="collection" data-id="0">&#xe6eb;</i><i class="iconfont" onclick="fenxiang()">&#xe726;</i></div>
</div>
<div class="fmmain">
    <div class="fmmmm">
        <div class="ffbr">
               <div class="ffbin"><img src="{:get_wxheadimg($forum.userInfo.portrait,132)}"><p>{$forum.userInfo.wechaname}</p></div>
               <div class="ffzxt">
                     <p>{$forum.create_time}</p>
                     <p class="ffzxzx"><a href="{$Think.config.zoosnet}">在线咨询</a></p>
               </div>
        </div>
        <div class="ffcontent">
            {volist name='$images' id='vo2'}
            <img src="{$vo2.pic}" style="width: 100%">
            {/volist}
            <div class="">{$forum.text}</div>
        </div>
    </div>
    <div class="ainfo">
        <div class="spi1"><i class="iconfont">&#xe6e4;</i>{$forum.click}</div>
        <div class="spi2"><i class="iconfont">&#xe70c;</i>{$forum.comment}</div>
        <div class="spi3" data-id="0"><i class="iconfont">&#xe71a;</i><span>{$forum.praise}</span></div>
    </div>
</div>


<div class="pl">
    <div class="pltitle">评论</div>
    {volist name='$comment' id='vo'}
    <div class="pl1" id="pl1">
        <img src="{:get_wxheadimg($vo.userInfo.portrait,132)}">
        <div class="pl1-1">
            <p>{$vo.userInfo.wechaname}</p>
            <p>{$vo.create_time}</p>
        </div>
        <div class="pl2">
            {$vo.text}
        </div>
        <div class="pldz"><i class="iconfont">&#xe71a;</i>{$vo.praise}</div>
    </div>
    {/volist}
    <div class="pljzts">以上是所有评论</div>
    <div class="subpl"><input placeholder="请输入评论内容~" type="text" id="commentText" value=""><input type="button" id="subComment" value="发表"></div>
</div>
{include file="public/fx" /}
<script src="{$Think.HTML_STATIC}/js/zepto.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script>
    $(function(){
        getCollection({$forum.id},{$fansInfo.id},4);
        getPraise({$forum.id},{$fansInfo.id},4);
        //评论
        $('#subComment').click(function(){
            comment({$forum.id},4,'{$Request.token}');
        });

        //点赞
        $(".spi3").click(function(){
            praise({$forum.id},4,'{$Request.token}');
        });

        //收藏
        $("#collection").click(function(){
            collection({$forum.id},4,'{$Request.token}');
        });
    });
</script>
</body>
</html>