<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}-社区</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.HTML_STATIC}/css/showimgs.css">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="window.history.go(-1);"></a>
    <h1 class="mui-title">{$forumType.typename}</h1>
    <a class="mui-icon mui-icon-search mui-pull-right" onclick="location.href='{:url('search/index',['sType'=>1])}'"></a>
</header>
<div class="contmain" style=" margin-top: 44px; padding-top: 1rem;">
    <div class="qzlist">
        {notempty name='$forumType'}
        <div class="qztitle">
            <img src="{$forumType.pic}"><p class="tit">{$forumType.typename}</p><p class="tinfo"><font>{$forumType.person_num}圈友</font> <font>{$forumType.arcNums}帖子</font></p>
        </div>
        {/notempty}
    </div>
    <div class="qzdetailu"><img src="{$forum.userInfo.portrait}">{$forum.userInfo.wechaname}</div>
    <h1>{$forum.foname}</h1>
    <div class="infos"><span>浏览：{$forum.click}</span><span>{$forum.create_time}</span></div>
    <div class="line"></div>
    <div class="content mui-content-padded">
        {volist name='$forum.forumImgs' id='vo2'}
        <p><img src="{$vo2.pic|str_replace='m_','',###}" data-preview-src="" data-preview-group="1"></p>
        {/volist}
        {$forum.text}
    </div>
    <div class="hudong">
        <div class="hdtitle"><strong>互动</strong></div>
        <p>{$Think.config.hudong}</p>
        <div class="tabs">
            {volist name='$forum.keyword' id='vo'}
            <a>{$vo}</a>
            {/volist}
        </div>
    </div>
    <div class="dshare">
        <div class="ds1 dianzan" data-id="0"><img src="{$Think.HTML_STATIC}/images/dz.png"><span>{$forum.praise}</span></div>
        <div class="ds2 collection" id="collection" data-id="0"><img src="{$Think.HTML_STATIC}/images/xxsc.png"><span>{$forum.shoucang}</span></div>
        <div class="ds3" onclick="fenxiang()"><img  style=" margin-top:0px;" src="{$Think.HTML_STATIC}/images/share.png" style=" margin-top:0px;" onclick="fenxiang()"></div>
    </div>
    <div class="ad"><a href="{$cont_ad.url}"><img src="{$cont_ad.pic}"></a></div>
</div>

<div class="upl">
    <div class="pltitle">评论</div>

    {volist name='$comment' id='vo' empty="<p class='empty'>沙发空缺中~~</p>"}
        {eq name='$vo.plid' value='0'}
            <div class="tx">
                <div class="tximg"><img src="{:get_wxheadimg($vo.userInfo.portrait,132)}">{$vo.userInfo.wechaname}</div>
                <div class="txdz" data-id="{$vo.id}" id="txdz{$vo.id}"><img src="{$Think.HTML_STATIC}/images/pldz.png"><span>{$vo.praise}</span></div>
            </div>
            <p>{$vo.text}</p>
            <div class="plinfo"><span class="backText" data-plid="{$vo.id}" data-uid="{$vo.userInfo.id}" data-align="{$vo.userInfo.wechaname}">回复</span>{$vo.create_time}</div>

            {volist name='$comment2' id='vo2'}
                {eq name='$vo2.plid' value='$vo.id'}
                <div class="reCont"><p><font>{$vo2.userInfo.wechaname}:</font> {$vo2.text} <span>{$vo2.create_time|date='m-d H:i',strtotime(###)}</span></p></div>
                {/eq}
            {/volist}
            <div class="fonline"></div>
        {/eq}
    {/volist}

</div>

<!--下拉加载-->
<div id="loadinguser"></div>
<div id="loading" class="lmore">下拉加载更多...</div>

<div class="plmtop"></div>
<div class="plmaint">
    <div class="plform">
        <div class="pinput"><input id="commentText" type="text" value="" placeholder="输入评论内容..."><div class="fbpl" id="subComment">发表</div></div>
        <div class="picon"><img src="{$Think.HTML_STATIC}/images/sc.png" id="fbsc" class="collection"><img src="{$Think.HTML_STATIC}/images/plkf.png" onclick="location.href='{$Think.config.zoosnet}'"></div>
    </div>
</div>


<div class="fdzx" onclick="location.href='{$Think.config.zoosnet}'"><img src="{$Think.HTML_STATIC}/images/fzixun.png"></div>

<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
{include file="public/fx" /}
{include file="public/wxShare" /}
<script src="{$Think.HTML_STATIC}/js/zepto.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.zoom.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.previewimage.js"></script>
<script>
    mui.previewImage();    
    $(function(){
        getCollection({$forum.id},{$fansInfo.id},4);
        getPraise({$forum.id},{$fansInfo.id},4);
        //评论
        $('#subComment').click(function(){
            comment({$forum.id},4,'{$Request.token}');
        });
        //点赞
        $(".ds1").click(function(){
            praise({$forum.id},4,'{$Request.token}');
        });
        //评论点赞
        $(".txdz").click(function(){
            plid=$(this).attr('data-id');
            plpraise(plid,4,'{$Request.token}',$(this).attr('id'));
        });
        //收藏
        $(".collection").click(function(){
            collection({$forum.id},4,'{$Request.token}');
        });
        //回复评论
        $('.backText').click(function()
        {
            userName=$(this).attr('data-align');
            plid=$(this).attr('data-plid');  //评论的id
            uid=$(this).attr('data-uid');  //回复的评论用户id
            var btnArray = ['确定', '取消'];
            mui.prompt('请输入回复内容', '', '', btnArray, function(e)
            {
                if (e.index == 0)
                {
                    //提交回复
                    text=e.value;
                    if(text=='')
                    {
                        mui.alert('回复内容不能为空哦');
                        return false;
                    }
                    $('#commentText').val(text);
                    recComment({$forum.id},4,'{$Request.token}',plid,uid,text);
                }
            })
        });

        //评论下拉加载
        var a = 0;
        var offsize = 10;//起始位置(查询数据表时的起始位置)
        $(document).ready(function(){
            var range = 80;//距下边界长度/单位px
            var totalheight = 0;
            var main = $("#loadinguser");//主体元素
            $(window).scroll(function(){
                var srollPos = $(window).scrollTop();
                totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
                if(($(document).height()+range) <= totalheight) {
                    if(a==0)
                    {
                        a = 1;
                        $('#loading').html("正在努力为您加载...");
                        $.post("{:url('comment/nextPageComment')}",{
                            type:4,
                            offsize:offsize,
                            aid:{$forum.id}
                    },function(data){

                        if(data=='')
                        {
                            $('#loading').html("已为您加载全部");
                            a = 0;
                        }
                        else
                        {
                            main.append(data);
                            offsize = offsize+10;
                            a = 0;
                        }
                    });
                    }
                }
            });
        });
    });
</script>
</body>
</html>