<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.config.js?1.4.3.3"></script>
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.all.min.js?1.4.3.3"></script>
<style>
    .control-label font{ color:#F00;}
    .form-group,.m-b{ margin-bottom:5px;}
    .hr-line-dashed{ margin:5px 0px;}
        .navs{ padding: 5px;}
        .navx{ padding: 5px 5px 5px 25px;}
    .span_active{
        border: 1px #e80010 solid;
        display: inline-block;
        width: 45px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        color: #e80010;
        cursor:pointer;
        user-select:none;
    }
    .span_noactive{
        border: 1px #ccc solid;
        display: inline-block;
        width: 45px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        color: #ccc;
        cursor:pointer;
        user-select:none;
    }
</style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:url('index')}">返回角色列表</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return getmid()" action="{:url('add')}">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font>*</font>角色名称：</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" required placeholder="请输入角色名称" name="rname" value="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font>*</font>模块权限：</label>

                                <div class="col-sm-10" id="module_div">
                                    <input type="hidden" name="mid" id="mid">
                                    {foreach name="module_id" item="vo" key="k" }
                                        <span class="span_noactive" data-id="{$k}" style="width: 90px" id="module_{$k}">{$vo}</span>
                                    {/foreach}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属权限：</label>
                                <div class="col-sm-10">
                                    {volist name="navs" id="so"}
                                        <div class="navs"><input type="checkbox" data-id="{$so.id}" class="call" data-module-id="{$so.module_id}" name="modular[{$so.id}]" value="1">{$so.title}</div>
                                            {volist name="navx" id="vo"}
                                            {if condition="$vo['pid'] eq $so['id']"}
                                                {php} if(\think\Session::get('adminid')!=1 && !in_array($vo['name'],$newrolesarr)){ continue; } {/php}
                                                <div class="navx">
                                                    <span data-id="{$vo.id}" class="call_s span_noactive">选中</span>
                                                    {:$vo['title']}:
                                                    {if in_array($vo.name.'|index',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="index">查看{/if}
                                                    {if in_array($vo.name.'|add',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="add">添加{/if}
                                                    {if in_array($vo.name.'|alter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="alter">修改{/if}
                                                    {if in_array($vo.name.'|del',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="del">删除{/if}
                                                    <!--术后-->
                                                    {if condition="$vo['name'] eq 'stage'"}
                                                    {if in_array($vo.name.'|article',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="article">文章列表{/if}
                                                    {if in_array($vo.name.'|articleadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articleadd">文章添加{/if}
                                                    {if in_array($vo.name.'|articlealter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlealter">文章修改{/if}
                                                    {if in_array($vo.name.'|articledel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articledel">文章删除{/if}
                                                    {if in_array($vo.name.'|articlevideo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlevideo">视频上传{/if}
                                                    {if in_array($vo.name.'|articlecomment',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecomment">评论列表{/if}
                                                    {if in_array($vo.name.'|articlecommentdel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecommentdel$vo.name."|articlecommentdel>评论删除{/if}
                                                    {if in_array($vo.name.'|articlecommentchild',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecommentchild$vo.name."|articlecommentchild>评论子评论{/if}
                                                    {/if}
                                                    <!-- 头发养护 -->
                                                    {if condition="$vo['name'] eq 'haircare'"}
                                                    {if in_array($vo.name.'|articlecomment',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecomment">评论列表{/if}
                                                    {if in_array($vo.name.'|articlecommentdel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecommentdel$vo.name."|articlecommentdel>评论删除{/if}
                                                    {if in_array($vo.name.'|articlecommentchild',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlecommentchild$vo.name."|articlecommentchild>评论子评论{/if}
                                                    {/if}
                                                    <!-- 术后贴士 -->
                                                    {if condition="$vo['name'] eq 'indextips'"}
                                                    {if in_array($vo.name.'|stage_day',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="stage_day">添加{/if}
                                                    {/if}


                                                    <!--题库选中-->
                                                    {if condition="$vo['name'] eq 'exercise'"}
                                                    {if in_array($vo.name.'|check',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="check">图片删除{/if}
                                                    {/if}
                                                    <!--拍照检测-->
                                                    {if condition="$vo['name'] eq 'detectionphoto'"}
                                                    {if in_array($vo.name.'|dpinfo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="dpinfo">批复查看{/if}
                                                    {/if}
                                                    <!--题库选中-->
                                                    {if condition="$vo['name'] eq 'exercise'"}
                                                    {if in_array($vo.name.'|check',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="check">图片删除{/if}
                                                    {/if}
                                                    <!--新闻删除图片-->
                                                    {if condition="$vo['name'] eq 'cont_news'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">图片删除{/if}
                                                    {/if}
                                                    <!--分类&板块-->
                                                    {if condition="$vo['name'] eq 'forum_onetype'"}
                                                    {if in_array($vo.name.'|delclass',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delclass">删除分类{/if}
                                                    {if in_array($vo.name.'|shiftarticle',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="shiftarticle">分类移动文章{/if}
                                                    {if in_array($vo.name.'|doshiftarticle',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="doshiftarticle">执行分类移动文章{/if}
                                                    {if in_array($vo.name.'|transferplate',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="transferplate">转移板块{/if}
                                                    {if in_array($vo.name.'|dotransferplate',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="dotransferplate">执行转移板块{/if}
                                                    {if in_array($vo.name.'|classadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="classadd">添加分类{/if}
                                                    {if in_array($vo.name.'|classalter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="classalter">修改分类{/if}
                                                    {if in_array($vo.name.'|getclasstree',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="getclasstree">获取分类列表{/if}
                                                    {/if}
                                                    <!--t头条-->
                                                    {if condition="$vo['name'] eq 'ask'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除问答图片{/if}
                                                    {if in_array($vo.name.'|answer',$rolesarr)}<input type="checkbox" classd="{$so.id}" name="{$so.id}[{$vo['name']}][]" value="answer">回答内容{/if}
                                                    {if in_array($vo.name.'|answeralter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="answeralter">修改回答内容{/if}
                                                    {if in_array($vo.name.'|answerdelimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="answerdelimg">删除回答图片{/if}
                                                    {if in_array($vo.name.'|indexdemo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="indexdemo">index测试{/if}
                                                    {if in_array($vo.name.'|usercomment',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="usercomment">查看评论{/if}
                                                    {if in_array($vo.name.'|selectuid',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="selectuid">选择用户{/if}
                                                    {if in_array($vo.name.'|addsort',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="addsort">修改排序{/if}
                                                    {if in_array($vo.name.'|editstatus',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="editstatus">修改状态{/if}
                                                    {/if}
                                                    <!--案例日记-->
                                                    {if condition="$vo['name'] eq 'cases'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除日记图片{/if}
                                                    {if in_array($vo.name.'|record',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="record">查看日记记录{/if}
                                                    {if in_array($vo.name.'|record_add',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="record_add">添加日记记录{/if}
                                                    {if in_array($vo.name.'|record_alter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="record_alter">日记记录修改{/if}
                                                    {if in_array($vo.name.'|record_delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="record_delimg">删除日记记录图片{/if}
                                                    {if in_array($vo.name.'|articlevideo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="articlevideo">视频上传{/if}
                                                    {/if}
                                                    <!--评论-->
                                                    {if condition="$vo['name'] eq 'comment'"}
                                                    {if in_array($vo.name.'|isstatus',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="isstatus">是否审核{/if}
                                                    {/if}
                                                    <!--养护-->
                                                    {if condition="$vo['name'] eq 'curing'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除图片{/if}
                                                    {/if}
                                                    <!--论坛-->
                                                    {if condition="$vo['name'] eq 'forum'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除图片{/if}
                                                    {if in_array($vo.name.'|forumvideo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="forumvideo">视频上传{/if}
                                                    {/if}
                                                    <!--商品-->
                                                    {if condition="$vo['name'] eq 'goods'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除图片{/if}
                                                    {/if}
                                                    <!--商品订单-->
                                                    {if condition="$vo['name'] eq 'goods_orders'"}
                                                    {if in_array($vo.name.'|express',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="express">物流查询{/if}
                                                    {/if}
                                                    <!--头发养护知识-->
                                                    {if condition="$vo['name'] eq 'hair_curing'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除图片{/if}
                                                    {/if}
                                                    <!--医院管理-->
                                                    {if condition="$vo['name'] eq 'hospital'"}
                                                    {if in_array($vo.name.'|addregion',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="addregion">删除图片{/if}
                                                    {if in_array($vo.name.'|map',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="map">选择坐标{/if}
                                                    {/if}
                                                    <!--问卷调查-->
                                                    {if condition="$vo['name'] eq 'investigation'"}
                                                    {if in_array($vo.name.'|result2',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="result2">调查结果{/if}
                                                    {if in_array($vo.name.'|option',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="option">查看调查选项{/if}
                                                    {if in_array($vo.name.'|optionadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="optionadd">添加调查选项{/if}
                                                    {if in_array($vo.name.'|optionalter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="optionalter">修改调查选项{/if}
                                                    {if in_array($vo.name.'|optiondel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="optiondel">删除调查选项{/if}
                                                    {/if}
                                                    <!--邮费模板-->
                                                    {if condition="$vo['name'] eq 'mail_temp'"}
                                                    {if in_array($vo.name.'|add_area',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="add_area">添加地区{/if}
                                                    {if in_array($vo.name.'|del_area',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="del_area">删除地域{/if}
                                                    {/if}

                                                    <!--内部案例-->
                                                    {if condition="$vo['name'] eq 'ncase'"}
                                                    {if in_array($vo.name.'|uploadindex',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="uploadindex">查看上传图片{/if}
                                                    {if in_array($vo.name.'|uploadadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="uploadadd">添加图片{/if}
                                                    {if in_array($vo.name.'|uploadalter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="uploadalter">修改图片{/if}
                                                    {if in_array($vo.name.'|uploaddel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="uploaddel">删除图片{/if}
                                                    {/if}
                                                    <!--删除项目图片-->
                                                    {if condition="$vo['name'] eq 'project'"}
                                                    {if in_array($vo.name.'|delimg',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delimg">删除图片{/if}
                                                    {/if}
                                                    <!--内部员工管理-->
                                                    {if condition="$vo['name'] eq 'staff'"}
                                                    {if in_array($vo.name.'|insert',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="insert">导入员工{/if}
                                                    {/if}
                                                    <!--会员管理-->
                                                    {if condition="$vo['name'] eq 'user_info'"}
                                                    {if in_array($vo.name.'|selectuid',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="selectuid">导入员工{/if}
                                                    {/if}
                                                    <!--病历管理-->
                                                    {if condition="$vo['name'] eq 'visit'"}
                                                    {if in_array($vo.name.'|show',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="show">显示疗程跟踪{/if}
                                                    {if in_array($vo.name.'|show_alter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="show_alter">修改疗程跟踪{/if}
                                                    {if in_array($vo.name.'|show_del',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="show_del">删除疗程跟踪{/if}
                                                    {if in_array($vo.name.'|show',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="show">显示疗程跟踪{/if}
                                                    {if in_array($vo.name.'|insert',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="insert">从excel表格导入{/if}
                                                    {/if}
                                                    <!--自定义菜单-->
                                                    {if condition="$vo['name'] eq 'WxDiyMenu'"}
                                                    {if in_array($vo.name.'|sendmenu',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="sendmenu">生成菜单{/if}
                                                    {if in_array($vo.name.'|delmenu',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="delmenu">删除菜单{/if}
                                                    {/if}

                                                    <!--推荐医生-->
                                                    {if condition="$vo['name'] eq 'recommenddoctor'"}
                                                    {if in_array($vo.name.'|exportexcel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="exportexcel">导出{/if}
                                                    {if in_array($vo.name.'|rlist',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="rlist">推荐列表{/if}
                                                    {/if}

                                                    <!--管理员管理-->
                                                    {if condition="$vo['name'] eq 'manage'"}
                                                    {if in_array($vo.name.'|stop',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="stop">停用{/if}
                                                    {if in_array($vo.name.'|start',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="start">启用{/if}
                                                    {/if}

                                                    <!--启动页管理-->
                                                    {if condition="$vo['name'] eq 'starpage'"}
                                                    {if in_array($vo.name.'|editopenstate',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="editopenstate">是否启动{/if}
                                                    {if in_array($vo.name.'|starpageimglist',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="starpageimglist">启动广告列表{/if}
                                                    {if in_array($vo.name.'|imgadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="imgadd">启动广告添加{/if}
                                                    {if in_array($vo.name.'|imgalter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="imgalter">启动广告修改{/if}
                                                    {if in_array($vo.name.'|imgdel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="imgdel">启动广告删除{/if}
                                                    {if in_array($vo.name.'|editorder',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="editorder">启动广告排序{/if}
                                                    {/if}

                                                    <!--调查管理-->
                                                    {if condition="$vo['name'] eq 'questionnaire'"}
                                                    {if in_array($vo.name.'|tmalter',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="tmalter">题目编辑{/if}
                                                    {if in_array($vo.name.'|proportion',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="proportion">比例{/if}
                                                    {if in_array($vo.name.'|start',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="start">开始{/if}
                                                    {if in_array($vo.name.'|stop',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="stop">暂停{/if}
                                                    {if in_array($vo.name.'|tmadd',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="tmadd">题目添加{/if}
                                                    {if in_array($vo.name.'|topicdel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="topicdel">题目删除{/if}
                                                    {if in_array($vo.name.'|optionsdel',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="optionsdel">选项删除{/if}
                                                    {/if}
                                                    <!--调查用户管理-->
                                                    {if condition="$vo['name'] eq 'surveyusers'"}
                                                    {if in_array($vo.name.'|surveyinfo',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="surveyinfo">用户调查信息{/if}
                                                    {if in_array($vo.name.'|export',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="export">导出表格{/if}

                                                    {/if}

                                                    <!--就诊管理-->
                                                    {if condition="$vo['name'] eq 'visitmanagement'"}
                                                    {if in_array($vo.name.'|views',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="views">用户详情{/if}
                                                    {if in_array($vo.name.'|visit_export',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="visit_export">导出表格{/if}
                                                    {/if}

                                                    <!--平台管理-->
                                                    {if condition="$vo['name'] eq 'sys_set'"}
                                                    {if in_array($vo.name.'|wechataccess',$rolesarr)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="wechataccess">微信接入{/if}
                                                    {if in_array($vo.name.'|wechataccess',step_one)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="wechataccess">步骤一{/if}
                                                    {if in_array($vo.name.'|wechataccess',step_two)}<input type="checkbox" class="{$vo.id}" name="{$so.id}[{$vo['name']}][]" value="wechataccess">步骤二{/if}
                                                    {/if}
                                               </div>

                                            {/if}
                                            {/volist}
                                    {/volist}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    {:token()}
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" onclick="history.go(-1)" type="button">取消</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
    <script>
        $('.call_s').click(function(){
            var data_id = $(this).attr('data-id');
            if($(this).hasClass('span_noactive')){
                $('.'+data_id).prop('checked','checked');
                $(this).removeClass('span_noactive');
                $(this).addClass('span_active');
            }else{
                $('.'+data_id).removeAttr("checked");
                $(this).removeClass('span_active');
                $(this).addClass('span_noactive');
            }
        })
        $('.call').click(function () {

            var mid = $(this).attr('data-module-id');
            if($(this).is(':checked')){
                $('#module_'+mid).removeClass('span_noactive').addClass('span_active');
            }else{
                var l = $('input[data-module-id='+mid+']:checked').length;
                if(l==0){
                    $('#module_'+mid).removeClass('span_active').addClass('span_noactive');
                }
            }
        })
        function getmid() {
            var midarr = new Array();
            $('#module_div span.span_active').each(function (m,n) {
                midarr.push($(n).attr('data-id'));
            })
            var midstr = midarr.join(',')
            $('#mid').val(midstr);
            return true;
        }
    </script>
</body>
</html>