<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="{$Think.HTML_STATIC}/js/laydate/laydate.js"></script>
    <style type="text/css">
        select{height: 30px;}
        .row{margin-top: 20px;margin-left:0;margin-right:0;}
        input{text-indent: 0;}
        input[type=button]{margin-left: 50px;}
        .title-nav{width: 100%;border-bottom: 1px solid #666;}
        .title-nav span{color:#000;padding:0 10px;line-height:33px;display: inline-block; border-radius: 5px 5px 0 0;border: 1px solid #666;background: #F0F0F0;cursor: pointer;border-bottom: none;}
        .title-nav span.active{background: #15BBDC;color: #ffffff;border:none;}
        /*.table{border: 1px solid #666;}*/
		select{line-height: 25px;font-size: 12px;}
		.userName,.key,.author{line-height: 25px;font-size: 12px;}
		.date input{line-height: 25px;font-size: 12px;}
        option{min-height:1px;padding:0;}
        .rb{line-height:32px;display:block;}
        .rb1{line-height:20px;display:block;}
        .ab{margin:20px 0;}
        .tjb div{float:left;}
        label{line-height:25px;}
        .pagination{float:right;}
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding:0;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>管理头条</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{:url('add')}">添加头条</a></li>
                        </ul>
                    </div>
                </div>
                <form method="get" action="{:url('index')}">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <div class="lx-reset">
                                <div class="row">
                                    <label class="col-md-4 col-sm-4"><span class="col-md-4 col-sm-4" style="text-align:center;">文章标题</span><input class="userName col-md-8 col-sm-8" type="text" name="qtitle" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['qtitle']}<?php } ?>"/></label>
                                    <label class="col-md-4 col-sm-4"><span class="col-md-4 col-sm-4" style="text-align:center;">内容关键词</span><input class="key col-md-8 col-sm-8" type="text" name="question" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['question']}<?php } ?>" /></label>
                                    <label class="col-md-4 col-sm-4"><span class="col-md-4 col-sm-4" style="text-align:center;">发布人</span><input class="author col-md-8 col-sm-8" type="text" name="author" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['author']}<?php } ?>"/></label>
                                </div>
                                <div class="row">
                                    <!--<label class="col-md-5 col-sm-5">
                                        <span class="col-md-4 col-sm-4" style="text-align:center;">后台分类</span>
                                        <select id="class_first" name="class_first" class="author col-md-4 col-sm-4">
                                            <option value="">请选择一级分类</option>
                                            {foreach name="class_arr" item="vo" key="k" }
                                                <option value='{$k}' {eq name="$class_first" value="$k"}selected{/eq}>{$vo.name}</option>
                                            {/foreach}
                                        </select>
                                        <span class="col-md-1 col-sm-1" style="text-align:center;">&#45;&#45;</span>
                                        <select id="class_second" name="class_second" class="author col-md-4 col-sm-4">
                                            <option value="">请选择二级分类</option>
                                        </select>
                                    </label>-->
                                    <label class="col-md-4 col-sm-4">
                                        <span class="col-md-4 col-sm-4" style="text-align:center;">显示状态</span>
                                        <select name="lstatus" style="height: 30px;" class="author col-md-8 col-sm-8">
                                            <option value="">全部状态</option>
                                            <option value="1" {if $statuss==1}selected{/if}>已显示</option>
                                            <option value="2" {if $statuss==2}selected{/if}>已隐藏</option>
                                        </select>
                                    </label>
                                    <label class="col-md-8 date col-sm-8">
                                        <span class="col-md-2 col-sm-2" style="text-align:center;">创建时间</span>
                                        <input id="sid" type="text" name="start_time" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['start_time']}<?php } ?>" class="author col-md-4 col-sm-4"/>
                                        <span class="col-md-2 col-sm-2" style="text-align:center;">至</span>
                                        <input id="eid" type="text" name="over_time" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['over_time']}<?php } ?>" class="author col-md-4 col-sm-4"/>
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-8 date col-sm-8">
                                        <span class="col-md-2 col-sm-2" style="text-align:center;">后台分类</span>
                                        <select id="class_first" name="class_first" class="author col-md-4 col-sm-4">
                                            <option value="">请选择一级分类</option>
                                            {foreach name="class_arr" item="vo" key="k" }
                                            <option value='{$k}' {eq name="$class_first" value="$k"}selected{/eq}>{$vo.name}</option>
                                            {/foreach}
                                        </select>
                                        <span class="col-md-2 col-sm-2" style="text-align:center;">&#45;&#45;</span>
                                        <select id="class_second" name="class_second" class="author col-md-4 col-sm-4">
                                            <option value="">请选择二级分类</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <div style="text-align: center;margin: 30px 0 50px">
                                <!--所属板块:
                                <select name="lname" style="height: 30px;margin-right: 50px">
                                    <option value="">全部板块</option>
                                    {foreach name="list" item="vo" key="k" }
                                    <option value="{$k}"{if !empty($data)&&$data==$k}selected{/if}>{$vo}</option>
                                    {/foreach}
                                </select>
                                帖子状态:
                                <select name="lstatus" style="height: 30px;margin-right: 50px">
                                    <option value="">全部状态</option>
                                        <option value="1" {if $statuss==1}selected{/if}>显示</option>
                                        <option value="2" {if $statuss==2}selected{/if}>隐藏</option>
                                </select>-->
                                <input type="submit" class="btn btn-primary col-md-1 col-sm-1 col-sm-offset-5 col-md-offset-5 rb" value="搜索">
                                <a href="{:url('index')}"><input type="button" class="btn btn-primary reset col-md-1 col-sm-1 rb" value="重置条件"></a>
                            </div>
                            <div class="clearfix">
                                <a href="{:url('add')}"><input style="float: right;" type="button" class="btn btn-primary ab" value="添加新文章" /></a>
                            </div>

                            <div class="title-nav">
                                <?php if(empty($fid)&& empty($fids)){ ?>
                                <a href="{:url('index')}"><span class="all active">全部文章</span></a>
                                <?php }else{ ?>
                                <a href="{:url('index')}"><span >全部文章</span></a>
                                <?php } ?>

                                {foreach name="$list" item="vo" key="k"}
                                <a href="{:url('index',['fid'=>$k])}"><span {if !empty($fid)&&$fid==$k || $fids == $k} name="fid" class="active"{/if}>{$vo}</span></a>
                                {/foreach}
                                <!--<span class="boke">植发星播客</span>-->
                                <!--<span class="baoju">毛发情报局</span>-->
                                <!--<span class="xieshi">头发那些事</span>-->
                                <input type="hidden" name="fid" value="<?php if(!empty($fid)){ ?>{$fid}<?php } ?>">
                            </div>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="8%"><input type="checkbox" id="all">全选</th>
                                    <th width="8%">排序</th>
                                    <th width="15%">标题</th>
                                    <th width="8%">发布人</th>
                                    <th width="12%">所属板块</th>

                                    <th width="10%">创建时间</th>
                                    <th width="5">状态</th>
                                    <th width="5%">预览地址</th>
                                    <th width="30%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='$content' id='vo'}
                                <tr>
                                    <td><input type="checkbox" class="cjh" value="{$vo.id}"></td>
                                    <td><input class="lxsd" type="text" style="width: 40px" value="{$vo.sort}"></td>
                                    <td>{$vo.qtitle}</td>
                                    <td>>{$admin_user[$vo.admin_user]}</td>
                                    <td>{$list[$vo.fid]}</td>
                                    <!--<td>{php}if($vo['status']==1){{/php}显示{php}}else{{/php}隐藏{php}}{/php}</td>-->
                                    <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                    <td>
                                        {php}if($vo['status']==1){{/php}
                                        <button type="button" class="btn btn-success" >显示</button>
                                        {php}}else{{/php}
                                        <button type="button" class="btn btn-success btn-danger">隐藏</button>
                                        {php}}{/php}
                                    </td>
                                    <td>
                                        <a data-href="<?php echo think\Request::instance()->domain(); ?>/forum/detail/uid/{$vo.id}" class="btn btn-success copybutton" >复制链接</a>
                                    </td>
                                    <td>
                                        <a href="{:url('usercomment',['id'=>$vo.id])}" style="margin-right:5px;"><button type="button" class="btn btn-outline btn-info answer" data-id='{$vo.id}'>查看评论</button></a>
                                        <button type="button" class="btn btn-outline btn-info alter" data-id='{$vo.id}' style="margin-right:5px;">编辑</button>
                                        <button type="button" onclick="del()" class="btn btn-outline btn-info del" data-id='{$vo.id}'>删除</button>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="row tjb">
                                <div class="col-md-1 col-sm-1"><input type="button" onclick="alldele()"  class="btn btn-primary rb2" value="删除已选" style="margin-left:0;"/></div>
                                <div class="col-md-1 col-sm-1"><input type="button"  class="btn btn-primary rb2 sort" value="提交排序"/></div>
                            </div>
                            <!--分页-->
                            <div class="row pagesc" style="float:right;">
                                <form class="pagesc" method="get" action="{:url('index')}" style="margin: 20px;float:right;">
                                    <div style="margin-top:17px;margin-left:10px;float:right;width:25%;">
                                        转向第
                                        <input type="number" name="page" style="width:20%;" min="1"/>页
                                        <button type="submit" class="btn btn-primary">确定</button>
                                    </div>
                                </form>
                                {$content->render()}
                                <div class="pagesc" style="float:right;">共{$content->total()}条记录 共{$content->lastPage()}页</div>
                            </div>
                            <!--<div class="pagesc">共计：{$content->total()}条 共：{$content->lastPage()}页</div>{$content->render()}-->
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

</div>
</div>
<script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
<script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/peity/jquery.peity.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/demo/peity-demo.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
<script src="{$Think.HTML_STATIC}/js/zclip/zclip.js"></script>

<script>
    $(document).ready(function(){
        //全选与不是全选
        $('#all').click(function () {
            if (this.checked){
                $('tbody input').each(function () {
                    $(this).prop('checked',true)
                })
            }else {
                $('tbody input').each(function () {
                    $(this).prop('checked',false)
                })
            }
        })
        $('tbody input[type=checkbox]').click(function () {
            if (!this.checked){
                $('#all').each(function () {
                    $(this).prop('checked',false)
                })
            }else {
                if ( $('tbody input[type=checkbox]:checked').length==$('tbody input[type=checkbox]').length){
                    $('#all').prop('checked',true)
                }
            }
        })
        //修改状态
        $('button.btn-success').click(function () {
            vid=$(this).parents('tr').find('.cjh').val();
            $.ajax({
                type: 'post',
                url: "{:url('editstatus')}",
                data:{id:vid},
                dataType: "json",
                success: function(data){
                    if(data.code==1){
                        layer.msg('修改成功');
                        setTimeout(function () {
                            window.location=window.location
                        },1500)
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        });

        var classstr = '<?php echo json_encode($class_arr); ?>'
        classarr = JSON.parse(classstr);
        $('#class_first').change(function () {
            var f_id = $(this).val()
            if(f_id){
                $('#class_second').html('');
            }
            var _html = '<option value="">请选择二级分类</option>';
            for (x in classarr[f_id]['child']){
                _html += '<option value="'+x+'">'+classarr[f_id]['child'][x]+'</option>'
            }
            $('#class_second').html(_html);
        });

        var classstr = '<?php echo json_encode($class_arr); ?>'
        classarr = JSON.parse(classstr);
        if($('#class_first').val()!=''){

            var f_id = $('#class_first').val();
            var f_sid = {if isset($class_second)&&$class_second!=''} {$class_second}{else /}null{/if};
            var _html = '<option value="">请选择二级分类</option>';
            for (x in classarr[f_id]['child']){
                if(f_sid==x){
                    _html += '<option value="'+x+'" selected>'+classarr[f_id]['child'][x]+'</option>'
                }else{
                    _html += '<option value="'+x+'">'+classarr[f_id]['child'][x]+'</option>'
                }
            }
            $('#class_second').html(_html);
        }
        laydate.render({
            elem: '#sid'
        });
        laydate.render({
            elem: '#eid'
        });
        $(".copybutton").zclip({
            path: "{$Think.HTML_STATIC}/js/zclip/ZeroClipboard.swf",
            copy: function(){
                return $(this).attr('data-href');
            },
            /* 复制成功后的操作 */
            afterCopy:function(){
                layer.msg('复制成功');
            }
        });
        //修改
        $('.alter').click(function()
        {
            id=$(this).attr('data-id');
            window.location.href='{:url("alter",array("id"=>"'+id+'"))}';
        });
        //回答
        $('.answer').click(function()
        {
            id=$(this).attr('data-id');
            window.location.href='{:url("answer",array("id"=>"'+id+'"))}';
        });
         //删除
         $('.del').click(function(){

        	id=$(this).attr('data-id');
        	layer.confirm('您确定要删除吗？', {
        	  btn: ['确定','取消'] //按钮
        	 }, function()
        	 {
        		//var index = layer.load();  //加载等待层
        		$.ajax({
        		   type: "post",
        		   url: '{:url("del",array("id"=>"'+id+'"))}',
        		   data: {id:id},
        		   dataType: "json",
        		   success: function(data){
        			  if(data.code==1)
        			  {
                          layer.msg('删除成功');
                          setTimeout(function () {
                              window.location=window.location
                          },1500)

        			  }
        			  else
        			  {
        				  layer.msg('删除失败');
        			  }
        		   }
        		});
        	});
        })
        //nav 导航
        $(".title-nav span").click(function(){
            $(this).addClass("active").siblings().removeClass("active")
        })
    });
</script>
<script>
    function alldele() {
        var ids = {}
        $("tbody :checkbox:checked").each(function (m,n) {
            ids[m] = $(n).val();
        })
        del(ids);
    }
    <!--全选删除-->
    function del(id) {
        layer.confirm('确定删除吗?', function(index){
            $.ajax({
                type: 'post',
                url: "{:url('del')}",
                data:{id:id},
                dataType: "json",
                success: function(data){
                    if(data.code==1){
                        layer.msg('删除成功');
                        setTimeout(function () {
                            window.location=window.location
                        },1500)
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            layer.close(index);
        });
    }

    <!--修改排序-->
    $('.sort').click(function () {
        var arrA={}
            $('input.lxsd').each(function (m,n) {
                var pid={}
                var aid={}
                pid.pid = $(n).parent('td').prev().find('input').val()
                aid.aid=$(n).val()
                pid.aid=aid.aid
                arrA[m]=pid
            })
        $.ajax({
            type: 'post',
            url: "{:url('addsort')}",
            data:{sort:arrA},
            dataType: "json",
            success: function(data){
                if(data.code==1){
                    layer.msg('修改成功');
                    setTimeout(function () {
                        window.location=window.location
                    },1500)
                }else{
                    layer.msg("修改失败");
                }
            }
        });
    })
    // $('input.lxsd').blur(function () {
    //     pid = $(this).parent('td').prev().find('input').val()
    //     aid=$(this).val()
    //     $.ajax({
    //         type: 'post',
    //         url: "{:url('addsort')}",
    //         data:{sort:aid,id:pid},
    //         dataType: "json",
    //         success: function(data){
    //             if(data.code==1){
    //                 layer.msg('修改成功');
    //                 setTimeout(function () {
    //                     window.location=window.location
    //                 },1500)
    //             }else{
    //                 layer.msg(data.msg);
    //             }
    //         }
    //     });
    // })
</script>
</body>
</html>