<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>退款退货管理</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>订单管理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20%">订单编号</th>
                                        <th width="10%">返还金额</th>
                                        <th width="10%">购买用户</th>
                                        <th width="10%">提交时间</th>
                                        <th width="10%">状态</th>
                                        <th width="10%">审批时间</th>
                                        <th width="30%">审批信息</th>
                                        <th width="20%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name='$goodsOrders' id='vo'}
                                    <tr>
                                        <td>{$vo.return_code}</td>
                                        <td>{$vo.return_money}</td>
                                        <td>{$vo.wechaname}</td>
                                        <td>{$vo.return_addtime|date='Y-m-d H:i:s',###}</td>
                                        <td>
                                            {switch name="$vo.return_reasontype"}
                                            {case value="0"}请选择退款原因{/case}
                                            {case value="1"}订单不能按预计时间送达{/case}
                                            {case value="2"}操作有误（商品、地址等选错）{/case}
                                            {case value="3"}重复下单/误下单{/case}
                                            {case value="4"}其他渠道价格更低{/case}
                                            {case value="5"}不想买了{/case}
                                            {case value="6"}其他原因{/case}
                                            {/switch}
                                        </td>
                                        <td>{if $vo.return_audittime}{$vo.return_audittime|date='Y-m-d H:i:s',###}{/if}</td>
                                        <td>{$vo.return_auditcontent|mb_substr=0,100,'utf-8'}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline btn-info express" data-id='{$vo.return_id}'>审批</button>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                            {$goodsOrders->render()}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/demo/peity-demo.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
    <script>
         $(document).ready(function()
         {

             $('.express').click(function()
             {
                 var id=$(this).attr("data-id");

                 layer.open({
                     type: 2,
                     area: ['60%', '90%'],
                     fixed: false, //不固定
                     maxmin: true,
                     content: '{:url("alter",array("returnid"=>"'+id+'"))}',
                     end: function(){

                     }
                 });

             });


         });
    </script>
</body>
</html>