<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
    <style>
        .wrapper02 {position:relative;height:4.5rem;width:100%;overflow:hidden;margin:0 auto;}
        .wrapper02 .scroller {position:absolute}
        .wrapper02 .scroller li { padding:0 1rem; height:4.5rem;color:#333;float:left;line-height:4.5rem;font-size: 1.6rem;text-align: center}
        .wrapper02 .scroller li a{display:block;margin:0 .3rem}
        .wrapper02 .scroller li.cur{ background: url("{$Think.HTML_STATIC}/images/askt.png") center bottom no-repeat;}

    </style>
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="self.location=document.referrer;"></a>
    <h1 class="mui-title">内部案例</h1>
    <a class="mui-icon mui-pull-right"></a>
</header>

<div class="asktop">
    <div class="wrapper02" id="demo05">
        <div class="scroller">
            <ul class="clearfix">
                <li><a href="{:url('index',['tid'=>0])}">全部</a></li>
                {volist name='contType' id='vo'}
                <li{eq name="$tid" value="$vo.id"} class="cur"{/eq}><a href="{:url('index',['tid'=>$vo.id,'postion'=>$i])}">{$vo.proname}</a></li>
                {/volist}
            </ul>
        </div>
    </div>
</div>

<div  style=" height: 105px;" ></div>

{volist name='news' id='vo'}
<a href="{:url('detail',array('id'=>$vo.id))}">

            <div class="tpic3">
                <div class="title" style="font-size: 1.6rem;">{$vo.title}</div>
                <div class="title">发友：{$vo.ssz} &nbsp;&nbsp;手术时间：{$vo.ss_time}</div>
                <div class="pics">

                    {volist name='$vo.newsImgs' id='vo2' offset="0" length='3'}
                    <div class="picll"><img src="{$vo2.pic}"></div>
                    {/volist}

                </div>
                <div class="infos">
                    <span>发布时间：{$vo.create_time}</span>
                </div>
            </div>
</a>
{/volist}

<!--下拉加载-->
<div id="loadinguser"></div>
<?php if($count>10){ ?>
<div id="loading" class="lmore">下拉加载更多...</div>
<?php } if($count==0){ ?>
<div id="wushuju" class="lmore">暂无内容</div>
<?php } ?>

<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
{include file="public/global_footer" /}
<script src="{$Think.HTML_STATIC}/js/zepto.min.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/scroll.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/navbarscroll.js"></script>
<script>
    $(function(){
        $('#demo05').navbarscroll({
            defaultSelect:{$postion},
        });
    });

    //下拉加载用户数据
    var a = 0;
    var offsize = 10;//起始位置(查询数据表时的起始位置)
    $(document).ready(function(){
        var range = 0;//距下边界长度/单位px
        var totalheight = 0;
        var main = $("#loadinguser");//主体元素
        $(window).scroll(function(){
            var srollPos = $(window).scrollTop();
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if(($(document).height()-range) <= totalheight) {
                if(a==0)
                {
                    a = 1;
                    $('#loading').html("正在努力为您加载...");
                    $.post("{:url('nextPage')}",{
                        offsize:offsize,
                    },function(data){

                        if(data==0)
                        {
                            $('#loading').html("已为您加载全部");
                            a = 0;
                        }
                        else
                        {
                            main.append(data);
                            offsize = offsize+10;
                            a = 0;
                        }
                    });
                }
            }
        });
    });

</script>

</body>
</html>