<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Think.config.sitename}</title>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
<link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/swiper-3.4.2.min.css" rel="stylesheet">
<style type="text/css">
    .swiper-button-next, .swiper-button-prev{ width: 18px; height: 29px; background-size:18px 29px; margin-top: -13px;}
    ul.line{
        height:45px;
        line-height:45px;
        overflow: hidden;
        width: 90%;
        display: inline-block;
    }
    .notice{ float: none; overflow: hidden; padding:0rem 1.5rem 0rem 1.5rem; height:4.5rem; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; background: #fff}
    .notice img{ float: left; margin-top: 12px;}
    ul.line li{height:45px;line-height:40px;}
</style>
</head>

<body style="background: #fff">
<div class="iheader">

      <div class="portrait" style="margin-top:2.5rem;">
          <a href="{:url('my/index')}">
              <img class="tximg" src="{:get_wxheadimg($fansInfo.portrait,132)}">
              <p>{$fansInfo.wechaname}</p>
              <img class="iinfo" src="{$Think.HTML_STATIC}/images/info.png">
          </a>
      </div>
      <div class="memmenu">
            <div class="mmmain"><span></span>您的积分：{$fansInfo.integral}</div>
            <div class="mmmain">购物车：{$goodsCart}</div>
      </div>
      
</div>

<div class="notice">
    <img class="gpp" src="{$Think.HTML_STATIC}/images/notice.png">
    <ul class="line">
        {volist name='$cont_ad2' id='vo'}
        <li><a href="{$vo.url}">{$vo.title}</a></li>
        {/volist}
    </ul>
</div>

<div class="indexmain">
   
     <div class="indexmenu">
           <div class="immain" onclick="location.href='{:url('cases/index')}'"><img src="{$Think.HTML_STATIC}/images/iicon1.png"><p>案例</p></div>
           <div class="immain" onclick="location.href='{:url('curing/index')}'"><img src="{$Think.HTML_STATIC}/images/iicon2.png"><p>养护</p></div>
           <div class="immain" onclick="location.href='{:url('forum/index')}'"><img src="{$Think.HTML_STATIC}/images/iicon3.png"><p>圈子</p></div>
           <div class="immain" onclick="location.href='{:url('track_new/index')}'"><img src="{$Think.HTML_STATIC}/images/iicon4.png"><p>跟踪</p></div>
     </div>
</div>

<div class="facues">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name='$cont_ad' id='vo'}
            <div class="swiper-slide"><a href="{$vo.url}"><img src="{$vo.pic}"></a></div>
            {/volist}
        </div>
        <div class="swiper-pagination"></div>

    </div>
</div>
<div style="height: 2rem;"></div>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
{include file="public/footer" /}
<div id="allmap"></div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/swiper-3.4.2.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/myslideup.js"></script>
<script>
	var height = document.documentElement.clientHeight;
	//初始化高度 
	$(".iheader").height(height*0.35);
	//当文档窗口发生改变时 触发 
	$(window).resize(function(){
		var height = document.documentElement.clientHeight;
		$(".iheader").height(height*0.35);
	});

    var swiper = new Swiper('.swiper-container', {

        pagination: '.swiper-pagination',
    });

    (function($){
        $.fn.extend({
            "slideUp":function(value){

                var docthis = this;
                //默认参数
                value=$.extend({
                    "li_h":"45",
                    "time":4000,
                    "movetime":1000
                },value)

                //向上滑动动画
                function autoani(){
                    $("li:first",docthis).animate({"margin-top":-value.li_h},value.movetime,function(){
                        $(this).css("margin-top",0).appendTo(".line");
                    })
                }

                //自动间隔时间向上滑动
                var anifun = setInterval(autoani,value.time);

                //悬停时停止滑动，离开时继续执行
                $(docthis).children("li").hover(function(){
                    clearInterval(anifun);			//清除自动滑动动画
                },function(){
                    anifun = setInterval(autoani,value.time);	//继续执行动画
                })
            }
        })
    })(jQuery)
    $(function(){
        $(".line").slideUp();
    })


</script>
</body>
</html>