<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <link href="{$Think.HTML_STATIC}/css/type.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/swiper-3.4.2.min.css" rel="stylesheet">
</head>
<body>
<div class="stop">
    <div class="st1"><i class="iconfont">&#xe720;</i></div>
    <div class="st2">{$contType.typename}</div>
    <div class="st3"><i class="iconfont" onclick="fenxiang()">&#xe726;</i></div>
</div>
<div class="arclist">
      {volist name='contText' id='vo' empty="<p class='nodata'>暂时还没有数据哦~</p>"}
      <div class="arclmain">
           <a href="{:url('article',array('id'=>$vo.id))}">
           <img src="{$vo.pic}" />
           <p>{$vo.title}</p>
           </a>
      </div>
      {/volist}
</div>
{include file="public/fx" /}
<script src="{$Think.HTML_STATIC}/js/zepto.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
</body>
</html>