<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.HTML_STATIC}/css/showimgs.css">
    <link href="{$Think.HTML_STATIC}/css/case.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/after-sale1.css" rel="stylesheet" type="text/css">
    <style>
    	
    </style>
</head>
<body class="bodyb">
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-pull-left" onclick="self.location=document.referrer;"><img src="{$Think.HTML_STATIC}/images/3.png"></a>
    <h1 class="mui-title">售后服务</h1>
</header>
<div style="height: 4.4rem;"></div>
<ul class="cjreturn-state">
	<li class="cjreturn-state-no">售后申请审核不通过，请重新提交</li>
	<li class="cjreturn-state-tips cjcarful1 ">我们会在3个工作日（不包含节假日）内完成审核，请留意</li>
</ul>
<div class="cjaddress">
	<div class="cjaddress-title">
		审核意见
	</div>
	<ul class="cjaddress-personl">
		<li>您的提交的售后申请不符合退货条件，审核不通过。如有疑 问请及时联系在线客服或重新提交售后服务。</li>	
	</ul>
</div>
<div class="cjservice-content">
	<div class="cjservice-num clearfix">
		<span class="mui-pull-left">
			服务单号 : 6960171354852
		</span>
		<span class="mui-pull-right">
			下单时间：2018/01/23 
		</span>
	</div>
	<!--内容1-->
	<div class="cjservice-list clearfix">
		<div class="mui-pull-left">
			<img src="{$Think.HTML_STATIC}/images/31.jpg"/>
		</div>
		<div class="mui-pull-left">
			<div class="cjintro">
				史云逊正品生姜无硅油落发专用洗发水护 发素套装控油清洁头发洗露
			</div>
			<div class="cjservice-list-drug-num">
				<span class="mui-pull-left">数量：1</span>
			</div>
		</div>
	</div>
</div>
<div class="cjbtn">
	<span class="cjbtn-custom">在线客服</span><span class="cjbtn-again">重新提交</span>
</div>
<p class="mui-backdrop" style="display: none;" ></p>
<script src="http://cdn.bootcss.com/jquery/1.10.0/jquery.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.zoom.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.previewimage.js"></script>
{include file="public/fx" /}
<script>

</script>
</body>
</html>