<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.config.js?1.4.3.3"></script>
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.all.min.js?1.4.3.3"></script>
<style>
.control-label font{ color:#F00;}
.form-group,.m-b{ margin-bottom:5px;}
.hr-line-dashed{ margin:5px 0px;}
</style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:url('index')}">返回阶段列表</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data"  action="{:url('alter',['sid'=>$s_id])}">
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">封面图片：</label>
                                <div class="col-sm-10" id="imgs">
                                    <img style="margin-bottom: 10px;" class="caseimg" src="{$content.s_img}" width="200">
                                    <input type="file" name="s_img"/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font>*</font>副标题：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" required placeholder="请输入副标题" name="s_indextitle" value="{$content.s_indextitle}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" name="s_id" value="{$content.s_id}">
                                    {:token()}
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" onclick="history.go(-1)" type="button">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
</body>
</html>