<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>顾客编号：{$visit.code}  姓名：{$visit.name}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{:url('index')}">返回病例列表</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="">
                        <div class="table-responsive" style="margin-top: 15px;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="5%">排序</th>
                                <th width="5%">就诊类型</th>
                                <th width="10%">就诊日期</th>
                                <th width="10%">就诊分院</th>
                                <th width="5%">手术医生</th>
                                <th width="10%">手术日期</th>
                                <th width="5%" style="text-align: center">方式E数量</th>
                                <th width="5%" style="text-align: center">方式L数量</th>
                                <th width="5%" style="text-align: center">赠送E数量</th>
                                <th width="5%" style="text-align: center">赠送L数量</th>
                                <th width="5%" style="text-align: center">优惠折扣</th>
                                <th width="5%" style="text-align: center">优惠券/元</th>
                                <th width="10%" style="text-align: center">总手术费用/元</th>
                                <th width="10%" style="text-align: center">增费-退费/元</th>
                                <th width="10%" style="text-align: center">最终手术费/元</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='$content' id='vo'}
                            <tr>
                                <td><input name="id[]" type="hidden" value="{$vo.id}"><input value="{$vo.sort}" name="sort[]" style="width: 100%;"></td>
                                <td>{$vo.jz_type}</td>
                                <td>{$vo.cz_time}</td>
                                <td>{$vo.hospital}</td>
                                <td>{$vo.doctor}</td>
                                <td>{$vo.op_time}</td>
                                <td style="text-align: center">{$vo.f_e}</td>
                                <td style="text-align: center">{$vo.f_l}</td>
                                <td style="text-align: center">{$vo.z_e}</td>
                                <td style="text-align: center">{$vo.z_l}</td>
                                <td style="text-align: center">{$vo.yhzk}</td>
                                <td style="text-align: center">{$vo.yhq}</td>
                                <td style="text-align: center">{$vo.zssfy}</td>

                                <td style="text-align: center">{$vo.ztf}</td>
                                <td style="text-align: center">{$vo.zzssf}</td>
                                <td>
                                    <button type="button" class="btn btn-outline btn-info del" data-id='{$vo.id}'>删除</button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                          <button class="btn btn-primary" type="submit">提交排序</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
<script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/peity/jquery.peity.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/demo/peity-demo.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
<script>
    $(document).ready(function()
    {

        //删除
        $('.del').click(function(){

            id=$(this).attr('data-id');
            layer.confirm('您确定要删除吗？', {
                btn: ['确定','取消'] //按钮
            }, function()
            {
                //var index = layer.load();  //加载等待层
                $.ajax({
                    type: "post",
                    url: '{:url("del",array("id"=>"'+id+'"))}',
                    data: {id:id},
                    dataType: "json",
                    success: function(data){
                        if(data.code==1)
                        {
                            window.location.reload();
                        }
                        else
                        {
                            layer.msg('删除失败');
                        }
                    }
                });
            });
        })

    });
</script>
</body>
</html>