<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<link rel="stylesheet" href="{$Think.HTML_STATIC}/css/main.css">
<link rel="stylesheet" href="{$Think.HTML_STATIC}/css/highlight.css">
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.config.js?1.4.3.3"></script>
<script type="text/javascript" charset="utf-8" src="{$Think.HTML_STATIC}/udeitor/ueditor.all.min.js?1.4.3.3"></script>
<style>
.control-label font{ color:#F00;}
.form-group,.m-b{ margin-bottom:5px;}
.hr-line-dashed{ margin:5px 0px;}
	.col-sm-10,.col-sm-8{padding-top: 7px;}
</style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
					<div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="cj_diaoyan">
	                            <div class="title col-sm-12" style="margin-top: 20px;font-size: 16px;font-weight: bold;">调研项目</div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="addsub">

								<?php
									foreach($list as $k=>$v){
								?>
									<div name="showdiv">
										<div class="form-group">
											<label class="col-sm-2 control-label"><font>*</font>排序：</label>
											<div class="col-sm-10">{$v.qt_order}</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">题目：</label>
											<div class="col-sm-8">{$v.qt_topic}</div>
											<div class="col-sm-2">
												<button type="button" class="btn btn-primary edittopic">编辑本题</button>
												<button type="button" class="btn btn-danger deltopic" data-id="{$v.qt_id}">删除本题</button>
											</div>
										</div>
										<div class="hr-line-dashed"></div>
										<div class="form-group">
											<label class="col-sm-2 control-label">题目类型：</label>
											<div class="col-sm-10">{if $v.qt_type==1}单选题{/if}{if $v.qt_type==2}多选题{/if}</div>
										</div>
										<div class="hr-line-dashed"></div>
										<div class="form-group">
											<label class="col-sm-2 control-label">选项序号：</label>
											<div class="col-sm-10"><span class="col-sm-8">选项内容（建议17个字以内）</span><span class="col-sm-4">选择原因</span></div>
										</div>
										<div class="add_ti">
											<div class="subject">
												<?php foreach($v['options'] as $ko=>$vo){ ?>
												<div class="form-group" data="1">
													<label class="col-sm-2 control-label sorting">{$vo.code}：</label>
													<div class="col-sm-10">
														<input class="col-sm-8 options" type="text" value="{$vo.content}" required readonly style="border: 0;"/>
														<span class="col-sm-4">{if $vo.isopen==1}开启{/if}{if $vo.isopen==2}关闭{/if}</span>
													</div>
												</div>
												<?php } ?>
											</div>
										</div>
									</div>

	                            	<form class="addform" datas='{$k}' style="display: none;">
			                            <div class="form-group">
			                                <label class="col-sm-2 control-label"><font>*</font>排序：</label>
			                                <div class="col-sm-10">
			                                    <input type="text" required value="{$v.qt_order}" class="form-control qt_order">
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <label class="col-sm-2 control-label">题目：</label>
			                                <div class="col-sm-8">
			                                    <textarea required id="text" name="info" class="form-control qt_topic" style="height:100px;">{$v.qt_topic}</textarea>
			                                	<p>建议不要超过30个字</p>
			                                </div>
			                                <div class="col-sm-2">
			                                	<button type="button" class="btn btn-primary cj_delete_all">删除本题</button>
			                                </div>
			                            </div>

			                            <div class="form-group">
			                                <label class="col-sm-2 control-label">题目类型：</label>
			                                <div class="col-sm-10">
			                                    <label><input type="radio" name="{$k}" class="qt_type" value='1' {if $v.qt_type==1}checked="checked"{/if}  checked="checked"/>单选题</label>
			                                    <label><input type="radio" name="{$k}" class="qt_type" value='2' {if $v.qt_type==2}checked="checked"{/if} />多选题</label>
			                                </div>
			                            </div>
			                            <div class="hr-line-dashed"></div>
			                            <div class="form-group">
			                                <label class="col-sm-2 control-label">选项序号：</label>
			                                <div class="col-sm-10">
			                                	<span class="col-sm-8">
			                                		选项内容（建议17个字以内）
			                                	</span>
			                                   	<span class="col-sm-4">
			                                		选择原因
			                                	</span>
			                                </div>
			                            </div>
			                            <div class="add_ti">
											<div class="subject">
												<?php foreach($v['options'] as $ko=>$vo){ ?>
												<div class="form-group" data="{$ko}" name="options_div">
													<label class="col-sm-2 control-label sorting">{$vo.code}：</label>
													<div class="col-sm-10">
													   	<input class="col-sm-8 options" type="text" value="{$vo.content}" required/>
													   	<input class="col-sm-8" name="option_id" type="hidden" value="{$vo.qo_id}" required/>
														<span class="col-sm-4">
															<label><input type="radio" name="{$k}-{$ko}" class="isopen" value="1" {if $vo.isopen==1} checked="checked" {/if} checked="checked"/>开启</label>
															<label><input type="radio" name="{$k}-{$ko}" class="isopen" value="2" {if $vo.isopen==2} checked="checked" {/if}/>关闭</label>
															<?php if($ko>=2){ ?>
																<button type="button" class="btn btn-primary cj_delete_real" data-id="{$vo.qo_id}">删除</button>
															<?php } ?>
														</span>
													</div>
												</div>
												<?php } ?>
											</div>
											<div class="form-group">
												<div class="col-sm-2"></div>
												<button  type="button" class="col-sm-3 btn btn-primary cj_add">添加选项</button>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-4 col-sm-offset-2">
												<input type="hidden" value="{$v.qt_id}" name="qt_id" class="qt_id">
												<button class="btn btn-primary addtopicsubmit"type="button" style="width: 150px;">提交</button>
												<button class="btn btn-primary exitbutton"type="button" style="width: 150px;">取消</button>
											</div>
										</div>
	                            	</form>
									<div style="height: 20px;background-color:#e5e6e7;margin: 20px 0;"></div>
								<?php
								}
								?>
	                            </div>
	                            <div class="form-group">
		                            	<div class="col-sm-1"></div>
		                            	<div class="col-sm-10">
		                            		<button type="button" class="btn btn-primary add_subject">添加题目</button>
		                            		<button type="button" class="btn btn-primary submit" id="submitbutton" style="display: none;">提交</button>
		                            	</div>
		                            </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
	<script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
    <script>
 	$(function(){

		var zimu = ['A:','B:','C:','D:','E:','F:','G:','H:','I:','J:','K:','L:','M：','N：','O：','P：','Q:','R:','S:']
        //删除本题
		$(".cj_delete_all").click(function(){
			$(this).closest(".add").remove()
			var datass=$(".addsub>.add:last").attr('datas')
			if(!datass){ datass = 0; }
			if(datass==0){ $('#submitbutton').hide(); }
		})

		//编辑题目
		$('.edittopic').click(function () {
			$(this).parents('div[name=showdiv]').hide().next().show();
		})

		//取消编辑
		$('.exitbutton').click(function () {
			$(this).parents('form').hide().prev().show();
		})

		$('.cj_delete_real').click(function () {
			var dataid = $(this).attr('data-id');
			var _self = $(this);
			layer.confirm('此删除不可恢复，确定继续？', {btn: ['确定','取消']}, function(){
				$.ajax({
					url: '{:url("questionnaire/optionsdel")}',
					data:{dataid:dataid},
					dataType: "json",
					success: function(data){
						if(data.code==1){
							_self.parents('div[name=options_div]').remove();
							layer.msg('删除成功');
						}else{
							layer.msg('删除失败');
						}
					}
				});
			});
		})

		$('.deltopic').click(function () {
			var qt_id = $(this).attr('data-id');
			var _self = $(this);
			layer.confirm('此删除不可恢复，确定继续？', {btn: ['确定','取消']}, function(){
				$.ajax({
					url: '{:url("questionnaire/topicdel")}',
					data:{qt_id:qt_id},
					dataType: "json",
					success: function(data){
						if(data.code==1){
							_self.parents('div[name=showdiv]').next().next().remove();
							_self.parents('div[name=showdiv]').next().remove();
							_self.parents('div[name=showdiv]').remove();
							layer.msg('删除成功');
						}else{
							layer.msg('删除失败');
						}
					}
				});
			});
		})

		$('.addtopicsubmit').click(function () {
			var topdiv = $(this).parents('form.addform');
			var info = {};
			info.qt_id = topdiv.find('.qt_id').val();
			info.qt_order = topdiv.find('.qt_order').val();
			info.qt_topic = topdiv.find('.qt_topic').val();
			info.qt_type = topdiv.find('.qt_type:checked').val();

			var topic = {};
			topdiv.find('div[name=options_div]').each(function (m,n) {
				var options = {};
				options.option_id = $(n).find('input[name=option_id]').val()
				options.isopen = $(n).find('.isopen:checked').val();
				options.options = $(n).find('.options').val();

				topic[m] = options;
			})

			info.topic = topic;
			console.log(info);
//			return false
			$.ajax({
				type:"post",
				url:"{:url('questionnaire/tmalter')}",
				async:false,
				dataType: "json",
				data:info,
				success:function(data){
					if(data.code == 1) {
						layer.msg('修改成功');
					} else {
						layer.msg('修改失败');
					}
					setTimeout(function () {
						window.location.reload();
					},1500)
				}
			});


		})

		//添加选项
		$(".cj_add").click(function(){
			var temp='';
			var subNum = $(this).closest('.add_ti').find(".subject .form-group").length+1;
			var letter=String.fromCharCode(64+subNum)
			var data1=$(this).closest('.add_ti').find(".subject>.form-group:last").attr('data');
			var data=parseInt(data1)+1;
			console.log(data)
					temp += '<div class="form-group" name="options_div" data=' + data + '>' +
						'<label class="col-sm-2 control-label sorting">' + letter + '：</label>' +
						'<div class="col-sm-10">' +
						'<input class="col-sm-8  options" type="text"/>' +
						'<input class="col-sm-8" name="option_id" type="hidden" value="" required/>' +
						'<span class="col-sm-4">' +
						'<label><input type="radio" name="' + data + '" value="1" class="isopen" checked="checked" />开启</label>' +
						'<label><input type="radio" name="' + data + '" value="2" class="isopen"/>关闭</label>' +
						'<button type="button" class="btn btn-primary cj_delete">删除</button>' +
						'</span>' +
						'</div>' +
						'</div>'
			$(this).closest('.add_ti').find(".subject").append(temp) ;
			$(".cj_delete").on('click',function(){
				var subject = $(this).parents('.subject')
				var data3=$(this).closest(".form-group").attr('data')
				$(this).closest(".form-group[data="+data3+"]").remove()
				subject.find('.sorting').each(function(m,n){
					$(n).html(zimu[m]);
				})
				console.log(2)
			})
			return data;
		})

		//添加题目
		$(".add_subject").click(function(){
			var subdatas = addSubject()
			$(".cj_delete_all").click(function(){
				$(this).closest(".add").remove()
				var datass=$(".addsub>.add:last").attr('datas')
				if(!datass){ datass = 0; }
				if(datass==0){ $('#submitbutton').hide(); }
			})
			//删除选项

			//添加选项
//			$(".cj_add").click(function(){
			$(".add[datas="+subdatas+"]").find('.cj_add').click(function(){
				var temp2='';
				var subNum = $(this).closest('.add_ti').find(".subject .form-group").length+1;
				var letter=String.fromCharCode(64+subNum)
				var data2=$(this).closest('.add_ti').find(".subject>.form-group:last").attr('data');
				var data=data2+1;
				var datass=$(".addsub>.add:last").attr('datas')
				var datas=parseInt(datass)+1;
				console.log(data2)
				console.log(data)
						temp2 += '<div class="form-group" name="options_div" data="' + datas + '-' + data + '">' +
							'<label class="col-sm-2 control-label sorting">' + letter + '：</label>' +
							'<div class="col-sm-10">' +
							'<input class="col-sm-8 form-control options" type="text" />' +
							'<span class="col-sm-4">' +
							'<label><input type="radio" name="' + datas + '-' + data + '" value="1" class="isopen"  checked="checked" />开启</label>' +
							'<label><input type="radio" name="' + datas + '-' + data + '" value="2" class="isopen" />关闭</label>' +
							'<button type="button" class="btn btn-primary cj_delete">删除</button>' +
							'</span>' +
							'</div>' +
							'</div>';
			$(this).closest('.add_ti').find(".subject").append(temp2)
			$(".cj_delete").on('click',function(){

			    var data3=$(this).closest(".form-group").attr('data')
				$(this).closest(".form-group[data="+data3+"]").remove();
				var subject=$(this).parents(".subject")
				subject.find('.sorting').each(function(m,n){
					$(n).html(zimu[m])
				})
				console.log(3)
				})
			})
		})
		function addSubject(){
			var temp1='';
			var datass=$(".addsub>.add:last").attr('datas')
			if(!datass){
				datass = 0;
			}
			console.log(datass);
			var datas=parseInt(datass)+1;
			temp1 += '<div class="add" datas="' + datas + '">' +
						'<div class="form-group">' +
						'<label class="col-sm-2 control-label"><font>*</font>排序：</label>' +
						'<div class="col-sm-10">' +
						'<input type="text" class="form-control qt_order">' +
						'<p>降序排序</p>' +
						'</div>' +
						'</div>' +
						'<div class="form-group">' +
						'<label class="col-sm-2 control-label">题目：</label>' +
						'<div class="col-sm-8">' +
						'<textarea id="text" name="info" class="form-control qt_topic" style="height:100px;"></textarea>' +
						'<p>建议不要超过30个字</p>' +
						'</div>' +
						'<div class="col-sm-2">' +
						'<button type="button" class="btn btn-primary cj_delete_all">删除本题</button>' +
						'</div>' +
						'</div>' +
						'<div class="hr-line-dashed"></div>' +
						'<div class="form-group">' +
						'<label class="col-sm-2 control-label">题目类型：</label>' +
						'<div class="col-sm-10">' +
						'<label><input type="radio" name="' + datas + '-a" class="qt_type" value="1" checked="checked"/>单选题</label>' +
						'<label><input type="radio" name="' + datas + '-a" class="qt_type" value="2"/>多选题</label>' +
						'</div>' +
						'</div>' +
						'<div class="hr-line-dashed"></div>' +
						'<div class="form-group">' +
						'<label class="col-sm-2 control-label">选项序号：</label>' +
						'<div class="col-sm-10">' +
						'<span class="col-sm-8">' +
						'选项内容（建议17个字以内）' +
						'</span>' +
						'<span class="col-sm-4">' +
						'选择原因' +
						'</span>' +
						'</div>' +
						'</div>' +
						'<div class="add_ti">' +
						'<div class="subject">' +
						'<div class="form-group" name="options_div" data="' + datas + '-1">' +
						'<label class="col-sm-2 control-label sorting">A：</label>' +
						'<div class="col-sm-10">' +
						'<input class="col-sm-8 options" type="text"/>' +
						'<span class="col-sm-4">' +
						'<label><input type="radio" name="' + datas + '-1" value="1" class="isopen"  checked="checked" />开启</label>' +
						'<label><input type="radio" name="' + datas + '-1" value="2" class="isopen"/>关闭</label>' +
						'</span>' +
						'</div>' +
						'</div>' +
						'<div class="form-group" name="options_div" data="' + datas + '-2">' +
						'<label class="col-sm-2 control-label sorting">B：</label>' +
						'<div class="col-sm-10">' +
						'<input class="col-sm-8  options" type="text"/>' +
						'<span class="col-sm-4">' +
						'<label><input type="radio" name="' + datas + '-2" value="1" class="isopen" checked="checked"/>开启</label>' +
						'<label><input type="radio" name="' + datas + '-2" value="2" class="isopen" />关闭</label>' +
						'</span>' +
						'</div>' +
						'</div>' +
						'</div>' +
						'<div class="form-group">' +
						'<div class="col-sm-2"></div>' +
						'<button type="button" class="col-sm-3 btn btn-primary cj_add">添加选项</button>' +
						'</div>' +
						'</div>' +
						'</div>'
	                      $(".addsub").append(temp1)
						$('#submitbutton').show();
						return datas;
		}
		//通过ajax提交数据
		$(".submit").click(function(){
		    var topic = {}
			//定义题目数组or对象   topic
	        $(".add").each(function(m,n){
	        	var qt = {};
	        	qt.qt_order=$(n).find('.qt_order').val();
	        	qt.qt_topic=$(n).find('.qt_topic').val();
	        	qt.qt_type=$(n).find('.qt_type:checked').val();
	        	//定义qt_options数组or对象
	        	var subInfo2={};
	        	$(n).find('.subject').find('.form-group').each(function(x,y){
	        		var options = {}
	        		//获取选项信息
	        		options.options=$(y).find('input.options').val();
	      			options.isopen=$(y).find('.isopen:checked').val();
	      			subInfo2[x] = options
	        	})
//	        	//讲qt_options加入到topic 中
	        	qt.qt_options = subInfo2
	        	topic[m] = qt
	        })
			console.log(topic);
			$.ajax({
				type:"post",
				url:"{:url('questionnaire/tmadd',['q_id'=>$q_id])}",
				async:true,
				dataType: "json",
				data:topic,
				success:function(data){
					if(data.code == 1) {
						layer.msg('添加成功');
					} else {
						layer.msg('添加失败');
					}
					setTimeout(function () {
						window.location.reload();
					},1500)
				}
			});
		})
        //对上传图片的默认单选按钮 重新赋值
        function again()
        {
            i=0;
            $("#imgs  input[type='radio']").each(function(){
                $(this).val(i);
                i=i+1;
            })
        }

        //通过2步做到输入的为非负数
        //1.去掉多余的小数点
        //2.保证只能输入小数点或数字
        function onlyNonNegative(obj) {
            var inputChar = event.keyCode;
            //alert(event.keyCode);

            //1.判断是否有多于一个小数点
            if(inputChar == 190) { //输入的是否为.
                var index1 = obj.value.indexOf(".") + 1; //取第一次出现.的后一个位置
                var index2 = obj.value.indexOf(".", index1);
                while(index2 != -1) {
                    //alert("有多个.");

                    obj.value = obj.value.substring(0, index2);
                    index2 = obj.value.indexOf(".", index1);
                }
            }
            //2.如果输入的不是.或者不是数字，替换 g:全局替换
            obj.value = obj.value.replace(/[^(\d|.)]/g, "");
        }
		})
    </script>
</body>
</html>