
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script src="{$Think.HTML_STATIC}/js/laydate/laydate.js"></script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <a class="btn btn-info check" href="{:url('recommenddoctor/index')}">返回</a>
                            {$dinfo.rd_name}-列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <!--<ul class="dropdown-menu dropdown-user">-->
                                <!--<li><a href="{:url('exportexcel',['rd_id'=>$rd_id])}">导出</a></li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" action="{:url('rlist',['rd_id'=>$rd_id])}">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="text" placeholder="开始时间" class="input-sm " id="starttime" name="starttime" value="{if isset($starttime)}{$starttime}{/if}">
                                        --
                                        <input type="text" placeholder="结束时间" class="input-sm " id="endtime" name="endtime" value="{if isset($endtime)}{$endtime}{/if}">
                                        <button style="margin-left: 10px;" type="submit" class="btn btn-info btn-primary"> 搜索</button>
                                        <button style="margin-left: 10px;" type="button" class="btn btn-info btn-primary" onclick="exportexcel()"> 导出</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>微信名</th>
                                        <th>手机号</th>
                                        <th>性别</th>
                                        <th>注册时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name='$list' id='vo'}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.wechaname}</td>
                                        <td>{$vo.phonenum}</td>
                                        <td>{$vo.sex}</td>
                                        <td>{$vo.regtime|date='Y-m-d H:i:s',###}</td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                            {$list->render()} <div class="pagesc">共计：{$list->total()}条</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/demo/peity-demo.min.js"></script>
    <script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
    <script>
         function del(_self,bid) {
             layer.confirm('确定删除吗?', function(index){
                 $.ajax({
                     type: 'get',
                     url: "{:url('del')}",
                     data:{bid:bid},
                     dataType: "json",
                     success: function(data){
                         if(data.code==1){
                             layer.msg('修改成功');
                             $(_self).parents('tr').remove();
                         }else{
                             layer.msg('修改失败');
                         }
                     }
                 });
                 layer.close(index);
             });
         }
        laydate.render({
            elem: '#starttime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endtime'
            ,type: 'datetime'
        });
        function exportexcel(){
            var starttime = $('#starttime').val();
            var endtime = $('#endtime').val();
            if( (starttime!=''&&endtime=='') || (endtime!=''&&starttime=='') ){
                layer.msg('请填写完整时间');
                return false;
            }
            var url = '{:url("exportexcel",["rd_id"=>$rd_id])}'+'?starttime='+starttime+'&endtime='+endtime;
            window.location.href = url;
        }
    </script>
</body>
</html>