<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>腾讯定位</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <style>

    </style>
    <script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
</head>
<body>
<script type="text/JavaScript">
    var geolocation = new qq.maps.Geolocation("OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77", "myapp");

//    document.getElementById("pos-area").style.height = (document.body.clientHeight - 110) + 'px';

    var options = {timeout: 8000};
    function showPosition(position) {
//        document.getElementById("demo").appendChild(document.createElement('pre')).innerHTML = JSON.stringify(position, null, 4);
//        document.getElementById("pos-area").scrollTop = document.getElementById("pos-area").scrollHeight;
        var xy = position.lat+","+position.lng;
//        console.log(xy);
        location.href="/yard/index/xy/"+xy;
    };

    function showErr() {
        location.href = "{:url('indexs')}";
    };

    geolocation.getLocation(showPosition, showErr, options);
</script>
</body>
</html>