<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.HTML_STATIC}/css/showimgs.css">
    <link rel="stylesheet" type="text/css" href="{$Think.HTML_STATIC}/css/webuploader.css">
    <link href="{$Think.HTML_STATIC}/css/add.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
    <style>
        .mui-navigate-right span{float: right; padding-right:1.5rem;}
        #imgPicker p{ color: #fff}
        #loading{ height: 100%; margin-top: 0px;}
        .xqlist{ padding: 0.5rem 0;}
        .xqlist span{ float: right;}
        .webuploader-pick{ padding-top: 0px;}
        .webuploader-pick p{ margin-bottom: 0px;}
    </style>
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="self.location=document.referrer;"></a>
    <h1 class="mui-title">电子病历</h1>
</header>
{empty name='$visit'}
<p style="text-align: center; padding: 2rem; margin-top: 55px;">您还没有电子病历</p>
{else /}
<ul class="mui-table-view dzbl">
    <li class="mui-table-view-cell">
        <a class="mui-navigate-right">
            <span>{$visit.hospital}</span>
            就诊分院
        </a>
    </li>
    <li class="mui-table-view-cell">
        <a class="mui-navigate-right">
            <span>{$visit.doctor}</span>
            手术医生
        </a>
    </li>
    <li class="mui-table-view-cell">
        <a class="mui-navigate-right">
            <span>{$visit.op_time}</span>
            手术日期
        </a>
    </li>

    <li class="mui-table-view-cell mui-collapse">
        <a class="mui-navigate-right" href="#">手术详情</a>
        <div class="mui-collapse-content">
            <div class="xqlist"><span>{$visit.f_e}</span>方式E数量</div>
            <div class="xqlist"><span>{$visit.f_l}</span>方式L数量</div>
            <div class="xqlist"><span>{$visit.z_e}</span>赠送E数量</div>
            <div class="xqlist"><span>{$visit.z_l}</span>赠送L数量</div>
        </div>
    </li>
    <li class="mui-table-view-cell mui-collapse">
        <a class="mui-navigate-right" href="#">资费明细</a>
        <div class="mui-collapse-content">
            <div class="xqlist"><span>{$visit.yhzk}</span>优惠折扣</div>
            <div class="xqlist"><span>{$visit.yhq}</span>优惠券</div>
            <div class="xqlist"><span>{$visit.zssfy}</span>手术费用</div>
            <div class="xqlist"><span>{$visit.ztf}</span>增费/退费</div>
            <div class="xqlist"><span>{$visit.zzssf}</span>总手术费用</div>
        </div>
    </li>
    <!--<li class="mui-table-view-cell" onclick="location.href='{:url('track_new/index')}'">
        <a class="mui-navigate-right">
            疗程跟踪
        </a>
    </li>-->
</ul>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/webuploader.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.zoom.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.previewimage.js"></script>
<script>
    mui.previewImage();
    
</script>

{/empty}
</body>
</html>