<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/case.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/goods.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/doctor.css" rel="stylesheet" type="text/css">
    <link href="{$Think.HTML_STATIC}/css/doctor2.css" rel="stylesheet" type="text/css">
    <style>
        .wrapper02 {position:relative;height:4.5rem;width:100%;overflow:hidden;margin:0 auto;background:#fff}
        .wrapper02 .scroller {position:absolute}
        .wrapper02 .scroller li { padding:0 1.3rem; height:4.5rem;color:#333;float:left;line-height:4.5rem;font-size: 1.6rem;text-align: center}
        .wrapper02 .scroller li a{color:#333;display:block;margin:0 .3rem}
        .wrapper02 .scroller li.cur{ background: url("{$Think.HTML_STATIC}/images/askt.png") center bottom no-repeat;}
        /*顶部标题*/
    	.mui-title{font-size: 1.7rem;color: #4a4a4a;}
		.mui-bar {
			-webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
   			 box-shadow: 0 0 1px rgba(0,0,0,0);
		}
		#header img{width: 1rem;height: 1.75rem;margin-top: 1.12rem;}
		#header{height: 4.4rem;border-bottom: 0.05rem solid #f0f0f0;}
		
		
		.cjhos img{width: 2rem;height: 1.75rem;}
		.doclist p{padding-top: 0;}
		.doclist p.cjtx img{width: 7rem;height: 7rem;}
		#header .mui-pull-left img{margin-top: 1.2rem;}
		#header a.mui-pull-right img{margin-top: 1.2rem;}
		.doclist p.name span{font-weight: normal;}
		.cjconsult span{width: 50%;}
    </style>
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-pull-left" onclick="self.location=document.referrer;"><img src="{$Think.HTML_STATIC}/images/3.png"></a>
    <h1 class="mui-title">搜索</h1>
</header>

<div  style=" height:100px;"></div>

<!--案例-->
{switch name="$sType"}
{case value="0"}

    {volist name='$cases' id='vo' empty="<p style='text-align: center; font-size: 1.6rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}

    <a href="{:url('cases/detail',array('id'=>$vo.id))}">
        <div class="csmian" style="padding:0px;">
            <div class="csmian" style="border:0px;">
                <div class="csuser abtx">
                    <img src="{:get_wxheadimg($vo.userInfo.portrait,132)}">
                    <p>{$vo.userInfo.wechaname}</p>
                    <p class="ddtime">{:get_time($vo.create_time)}</p>
                </div>
                <div class="aliimg">
                    <div class="albf"><img src="{$vo.pic}"><span>Before</span></div>
                    <div class="alaf"><img src="{$vo.pic2}"><span>After</span></div>
                </div>
                <p class="alinfs">{$vo.info}</p>
                <div class="tags"><img src="{$Think.HTML_STATIC}/images/tags.png">{$vo.project.proname}</div>
            </div>
            <div class="plinfos"><div class="lll"><img src="{$Think.HTML_STATIC}/images/yan.png">浏览·{$vo.click}</div><div class="pl"><img src="{$Think.HTML_STATIC}/images/hl.png">评论·{$vo.comment}</div><div class="cdz"><img src="{$Think.HTML_STATIC}/images/adz.png">点赞·{$vo.praise}</div></div
            >
        </div>
    </a>

    {/volist}
    
    
    

{/case}
<!--圈子-->
{case value="1"}
    {volist name='forum' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}
    <a href="{:url('doctor/detail',array('id'=>$vo.id))}">
        {switch name="$vo.docname"}
        {case value="1"}
        <div class="tpic1">
            <div class="tp1left">
                <div class="title">{$vo.docname}</div>
                <div class="infos">
                    <span>{$vo.0.userInfo.wechaname}</span>
                    <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.0.comment}</span>
                    <span>{$vo.create_time}</span>
                </div>
            </div>
            <div class="pics">
                <img src="{$vo.pic}">
            </div>
        </div>
        
        {/case}
        
        {case value="2|3|4|5|6|7|8|9"}
        <div class="tpic3">
            <div class="title">{$vo.docname}</div>
            <div class="pics">
                {volist name='$vo.forumImgs' id='vo2'}
                <div class="picll"><img src="{$vo2.pic}"></div>
                {/volist}
            </div>
            <div class="infos">
                <span>{$vo.0.userInfo.wechaname}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.0.comment}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>
        {/case}
        {default /}

        <a href="{:url('doctor/detail',array('id'=>$vo.id))}">
        <div class="doclist">
            <div class="docimname">
                <p class="cjtx mui-pull-left">< img src="{$vo.pic}" /></p >
                <p class="name"><span>{$vo.docname}</span></p >
                <ul class="cjtitle">
                    <li>{$vo.position}</li>
                    <li>{$vo.positional_titles}</li>
                </ul>
                <div class="cjhos">
                    <img src="{$Think.HTML_STATIC}/images/19.png"/>
                    <span>就职院部:</span>
                    <span>{$vo.hospital.hosname}</span>
                </div>

        <a href="{:url('detail',['id'=>$vo.id])}">
		    <div class="doclist">
		        <div class="docimname">
		            <p class="cjtx mui-pull-left"><img src="{$vo.pic}" /></p>
		            <p class="name"><span>{$vo.docname}</span></p>
		            <ul class="cjtitle">
		                <li>主治医师</li>
		                <li>雍禾植发雍享团队主任专家</li>
		            </ul>
		            <div class="cjhos">
		                <img src="{$Think.HTML_STATIC}/images/19.png"/>
		                <span>就职院部:</span>
		                <span>北京</span>
		            </div>
		        </div>
		        <img class="cjsj" src="{$Think.HTML_STATIC}/images/20.png"/>
		    </div>
		</a>
   
        <div class="tpic3">
            <div class="title">11111{$vo.docname}</div>
            <div class="infos">
                <span>{$vo.0.userInfo.wechaname}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.0.comment}</span>
                <span>{$vo.create_time}</span>

            </div>
            <img class="cjsj" src="{$Think.HTML_STATIC}/images/20.png"/>
        </div>
    </a>
        {/switch}

    </a>
{/volist}

{/case}

<!--问答-->
{case value="2"}

    {volist name='$ask' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}
    <a href="{:url('ask/detail',['id'=>$vo.id])}">
        <div class="askmain" >
            <div class="atxd">
                <div class="tx"><img src="{:get_wxheadimg($vo.userInfo.portrait,132)}" /> {$vo.userInfo.wechaname}</div>
                <div class="dz"><img src="{$Think.HTML_STATIC}/images/adz.png">{$vo.praise}</div>
            </div>
            <div class="asktitle"><span>问</span>{$vo.qtitle}</div>
            <div class="askans">{$vo.question}...</div>
            <div class="askimgs">
                {volist name='$vo.images' id='vo2'}
                <div class="picll"><img src="{$vo2.pic}"></div>
                {/volist}
            </div>
        </div>
    </a>
    {/volist}

{/case}

<!--新闻-->
{case value="3"}
    {volist name='news' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}
    <a href="{:url('news/detail',array('id'=>$vo.id))}">
        {eq name='$vo.is_video' value='1'}

        <div class="tvideo">
            <div class="title">{$vo.title}</div>
            <div class="pics">
                <img src="{$vo.pic|str_replace='m_','',###}">
                <div class="spbf"></div>
                <span class="pftime">{$vo.play_time}</span>
            </div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>

        {else/}

        {switch name="$vo.imgs_nums"}
        {case value="1"}
        <div class="tpic1">
            <div class="tp1left">
                <div class="title">{$vo.title}</div>
                <div class="infos">
                    <span>{$vo.author}</span>
                    <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                    <span>{$vo.create_time}</span>
                </div>
            </div>
            <div class="pics">
                <img src="{$vo.pic}">
            </div>
        </div>
        {/case}
        {case value="2|3"}
        <div class="tpic3">
            <div class="title">{$vo.title}</div>
            <div class="pics">

                {volist name='$vo.newsImgs' id='vo2'}
                <div class="picll"><img src="{$vo2.pic}"></div>
                {/volist}

            </div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>
        {/case}
        {default /}
        <div class="tpic3">
            <div class="title">{$vo.title}</div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>
        {/switch}

        {/eq}
    </a>
    {/volist}

{/case}

<!--养护-->
{case value="4"}
    {volist name='news' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}
    <a href="{:url('curing/detail',array('id'=>$vo.id))}">
        {eq name='$vo.is_video' value='1'}

        <div class="tvideo">
            <div class="title">{$vo.title}</div>
            <div class="pics">
                <img src="{$vo.pic|str_replace='m_','',###}">
                <div class="spbf"></div>
                <span class="pftime">{$vo.play_time}</span>
            </div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>

        {else/}

        {switch name="$vo.imgs_nums"}
        {case value="1"}
        <div class="tpic1">
            <div class="tp1left">
                <div class="title">{$vo.title}</div>
                <div class="infos">
                    <span>{$vo.author}</span>
                    <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                    <span>{$vo.create_time}</span>
                </div>
            </div>
            <div class="pics">
                <img src="{$vo.pic}">
            </div>
        </div>
        {/case}
        {case value="2|3"}
        <div class="tpic3">
            <div class="title">{$vo.title}</div>
            <div class="pics">
                {volist name='$vo.newsImgs' id='vo2'}
                <div class="picll"><img src="{$vo2.pic}"></div>
                {/volist}
            </div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>
        {/case}
        {default /}
        <div class="tpic3">
            <div class="title">{$vo.title}</div>
            <div class="infos">
                <span>{$vo.author}</span>
                <span><img src="{$Think.HTML_STATIC}/images/plnum.png">{$vo.pinglun}</span>
                <span>{$vo.create_time}</span>
            </div>
        </div>
        {/switch}

        {/eq}
    </a>
    {/volist}

{/case}

<!--商品-->
{case value="5"}
    {volist name='$goods' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}

    <a href="{:url('goods/detail',['id'=>$vo.id])}">
        <div class="gls">
            <div class="igoodsinfo brd">
                <img src="{$vo.pic}">
                <div class="igoodt">
                    <h3>{$vo.gdname}</h3>
                    <div class="iprice"><div class="gwsc"><i class="iconfont sc">&#xe6eb;</i><i class="iconfont">&#xe698;</i></div><font>￥</font>{$vo.price} <s><font>￥</font>{$vo.original_price}</s></div>
                    <div class="ysnum">已售 {$vo.id|getSaleNum=###} 好评率100%</div>
                </div>
            </div>
        </div>
    </a>
    {/volist}

{/case}


<!--视频-->
{case value="6"}
<div class="voidlist"<?php if(count($video)==0) echo ' style="background:none"'?>>
    {volist name='$video' id='vo' empty="<p style='text-align: center; font-size: 1.8rem; padding: 2rem;'>没有找到您要的内容哦~~</p>"}
    <a href="{:url('detail',array('id'=>$vo.id))}">
        <div class="vimg">
            <img src="{$vo.pic}">
            <div class="vvititle">{$vo.title}</div>
            <div class="vvpfnums">{$vo.click}次播放</div>
            <div class="vvpfbut"><img src="{$Think.HTML_STATIC}/images/vvpf.png"></div>
            <div class="vvpftime">{$vo.play_time}</div>
        </div>
        <div class="vvinfos">
            <div class="vfbu"><img src="{$vo.userInfo.portrait}">{$vo.userInfo.wechaname}</div>
            <div class="vshare"><img src="{$Think.HTML_STATIC}/images/hxing.png">关注 <img src="{$Think.HTML_STATIC}/images/hl.png">{$vo.comment} <img src="{$Think.HTML_STATIC}/images/hshare.png"></div>
        </div>
    </a>
    {/volist}
</div>

{/case}

{/switch}

<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
{include file="public/global_footer" /}
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/scroll.js"></script>
<script type="text/javascript" src="{$Think.HTML_STATIC}/js/navbarscroll.js"></script>


<script>
    $(function(){
        $('#demo05').navbarscroll({
            defaultSelect:{$sType},
        });
    });
</script>

</body>
</html>