<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.sitename}</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
    <style>
        .content img{ width: 100%;}
    </style>
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="self.location=document.referrer;"></a>
    <h1 class="mui-title">疗程跟踪</h1>
</header>

<div class="topdocs" style=" margin-top: 50px; background: #fff; overflow: hidden; padding: 1.5rem;">
    <div class="docimg" style="margin-bottom:0.5rem; width: 100%; border-bottom: 1px solid #eaeaea; padding-bottom:0.8rem;">
        <img src="{$Think.HTML_STATIC}/images/jz.png" style="width:15%;">
        <p class="docname" style="margin-top: 0.5rem; margin-right: 0.5rem; font-size: 1.6rem; color: #0078d7">{$visit.doctor}</p>
        <p class="zctitle" style="margin-top: 0.5rem; font-size: 1.4rem; color:#3d3d3d">主治医师</p>
    </div>
    <div class=""><p style="float: left; color: #999999;  font-size: 1.3rem; padding-top: 5px;">您的手术时间：{$visit.op_time}</p></div>
</div>

<div class="contmain" style="clear: both; margin-top: 1rem; padding: 1.5rem;">
    <h1>{$news.title}</h1>
    <div class="line"></div>
    <div class="content">
        {$news.text}
    </div>
</div>

<div class="yjft" style=" border-top:1px solid #eee">
    <div class="onzx"><a href="{$Think.config.zoosnet}"><img src="{$Think.HTML_STATIC}/images/zxzx.png">客服在线</a></div>
    <div class="telzx"><a href="tel:{$Think.config.tel}"><img src="{$Think.HTML_STATIC}/images/telzx.png">服务热线</a></div>
</div>

<div style="height: 50px;"></div>

<script src="{$Think.HTML_STATIC}/js/zepto.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/web.js"></script>
<script src="{$Think.HTML_STATIC}/js/mui.min.js"></script>
</body>
</html>