<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>站点配置</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
		<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<style>
			.control-label font {
				color: #F00;
			}
			.form-group,
			.m-b {
				margin-bottom: 5px;
			}
			.hr-line-dashed {
				margin: 5px 0px;
			}
			.step {
				text-align: center;
			}
			.row {
				margin-top: 50px;
			}
			select{height: 30px;}
			.cj-btn{margin: 200px 0;text-align: center;}
			form{width: 100%;margin-top: 50px;}
			font{color: red;}
			textarea{width: 100%;}
			.hr-line-dashed{margin: 20px 0;}
		</style>
	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>您当前所在位置：平台设置>微信公众号接入</h5>
						</div>
						<div class="ibox-content">
								<div class="row">
									<div class="col-md-12">
										接入微信公众号
									</div>
								</div>
								<!--步骤yi-->
								
						<form method="post" class="form-horizontal" action="">
							<div class="row">
									<div class="col-md-12 col-sm-12 step">
										<img class="col-sm-12 col-md-8 col-md-offset-2" src="{$Think.HTML_STATIC}/img/113.png" />
									</div>
								</div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">公众号名称<font>*</font></label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" class="form-control" name="sitename" placeholder="请输入当前站点域名">
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									填写公众号的名称
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <textarea name="" rows="10" ></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">公众号账号<font>*</font></label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" class="form-control" name="sitename" placeholder="请输入当前站点域名">
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									填写公众号登录账号，一般为英文账号
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">原始ID<font>*</font></label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" class="form-control" name="sitename" placeholder="请输入当前站点域名">
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									在给粉丝发送客服消息时,原始ID不能为空。建议您完善该选项
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">公众号类型<font>*</font>：</label>
                                <div class="col-sm-10">
                                    <label class="col-sm-3"><input type="radio" name="number" id="" value="" />普通订阅号</label>
                                    <label class="col-sm-3"><input type="radio" name="number" id="" value="" />普通服务号</label>
                                    <label class="col-sm-3"><input type="radio" name="number" id="" value="" />认证订阅号</label>
                                    <label class="col-sm-3"><input type="radio" name="number" id="" value="" />认证服务号/认证媒体/政府订阅号</label>
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									注意：即使公众平台显示为“未认证”, 但只要【公众号设置】/【账号详情】下【认证情况】显示资质审核通过, 即可认定为认证号.
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">开发者ID(AppID)<font>*</font></label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" class="form-control" name="sitename" placeholder="请输入当前站点域名">
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									请填写微信公众平台后台的AppId
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">开发者密码(AppSecret)<font>*</font></label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" class="form-control" name="sitename" placeholder="请输入当前站点域名">
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
									请填写微信公众平台后台的AppSecret, 只有填写这两项才能管理自定义菜单
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">设置IP白名单<font>*</font></label>
                                <div class="col-sm-10">
                                    通过开发者ID及密码调用获取access_token接口时，需要设置访问来源IP为白名单。开发者需要在【基本配置】中设置服务器IP白名单
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">Oauth 2.0<font>*</font></label>
                                <div class="col-sm-10">
			在微信公众号请求用户网页授权之前，开发者需要先到公众平台网站的【开发者中心】网页服务中配置授权回调域名。
                                </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
	                            <label class="col-sm-2 control-label">公众号头像：</label>
	                            <div class="col-sm-10">
	                                <img style="margin-bottom: 10px;" class="caseimg" src="" width="100">
	                                <input type="file" name="smallimg">
	                                建议上传图片尺寸，300px * 300px
	                            </div>
	                        </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
	                            <label class="col-sm-2 control-label">公众号二维码：</label>
	                            <div class="col-sm-10">
	                                <img style="margin-bottom: 10px;" class="caseimg" src="" width="100">
	                                <input type="file" name="smallimg">
	                               		建议上传图片尺寸，600px * 600px
	                            </div>
	                        </div>
                            <div class="hr-line-dashed"></div>
                          
                            <div class="form-group" style="text-align: center;">
                                <div class="col-sm-4 col-sm-offset-2" > 
                                    <button class="btn btn-primary" type="button">下一步</button>
                                </div>
                            </div>
                        </form>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
		<script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
		<script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
	</body>

</html>