<style type="text/css">
    .h60{ height: 60px;}
    .ifooter{ position: fixed; bottom: 0px; width: 100%; height:55; line-height:55px; background: #fff}
    .ifooter img{ height:30px; margin-right: 15px;}
    .ifleft,.ifright{ float: left; width: 50%; text-align: center;}
</style>
<div class="h60"></div>
<div class="ifooter">
    <div class="ifleft">
        <a href="{$Think.config.zoosnet}"><img src="{$Think.HTML_STATIC}/image/zx.png">在线咨询</a>
    </div>
    <div class="ifright">
        <a href="tel:{$Think.config.tel}"><img src="{$Think.HTML_STATIC}/image/tel.png">电话咨询</a>
    </div>
</div>