<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="{$Think.HTML_STATIC}/js/laydate/laydate.js"></script>
    <style type="text/css">
		input,select{height: 30px;}
		.col-sm-4{padding: 0;}
        .row{margin-top: 20px;}
        /*.col-sm-4{padding-left: 0;}*/
        input[type=button]{margin-left: 50px;}
        .title-nav{width: 100%;border-bottom: 1px solid #666;}
        .title-nav span{color:#000;padding:0 10px;line-height:33px;display: inline-block; border-radius: 5px 5px 0 0;border: 1px solid #666;background: #F0F0F0;cursor: pointer;border-bottom: none;}
        .title-nav span.active{background: #15BBDC;color: #ffffff;border:none;}
        /*.table{border: 1px solid #666;}*/
       label{text-align: center;}
        .btn{padding: 6px 8px;}
        .row>button:last-of-type{margin-left:50px}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        您当前所在位置：头条>文章列表
                    </h5>
                </div>
                    <div class="ibox-content">
                        <form  class="form-inline" role="form" method="get" action="{:url('index')}" onsubmit="return checksearchform()">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label class=" col-md-4 col-sm-4">文章标题</label>
                                    <input type="text" class="col-md-8 col-sm-8" name="qtitle" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['qtitle']}<?php } ?>"/>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label class="col-md-4 col-sm-4">内容关键词</label>
                                    <input type="text" class=" col-md-8 col-sm-8" name="question" value="<?php if(isset($datas['question'])){ ?>{$datas['question']}<?php } ?>" />
                                </div>
                                <div class="col-sm-4">
                                    <label class=" col-md-4 col-sm-4">创建人</label>
                                    <input type="text" class="col-md-8 col-sm-8" name="author" value="<?php if(isset($datas['author'])){ ?>{$datas['author']}<?php } ?>"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <label class="col-sm-4 col-md-4">后台分类</label>
                                    <select id="class_first" class="col-sm-8 col-md-8"" name="class_first">
                                        <option value="">请选择一级分类</option>
                                        {foreach name="class_arr" item="vo" key="k" }
                                        <option value='{$k}' {if $class_first==$k}selected="selected"{/if}>{$vo.name}</option>
                                        {/foreach}
                                    </select>
                                </div>    
                                <div class="col-sm-4 col-md-4">
                                    <label class="col-sm-4 col-md-4">&#45;&#45;</label>
                                    <select id="class_second" class="col-sm-8 col-md-8" name="class_second">
                                        <option value="">请选择二级分类</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <label class="col-sm-4 col-md-4">创建时间</label>
                                    <input type="text" class="col-sm-8 col-md-8" id="time_starandend" name="time_starandend" value="<?php if(isset($datas['time_starandend'])){ ?>{$datas['time_starandend']}<?php } ?>" />
                                </div>
                            </div>
                            <div class="row" style="text-align: center;margin: 30px 0 50px">
                                <button type="submit" class="btn btn-primary col-md-1 col-sm-1 col-md-offset-5 col-sm-offset-5">搜索</button>
                                <button type="button" class="btn btn-primary col-md-1 col-sm-1" id="button_reset">重置条件</button>
                            </div>
                            <input type="hidden" name="fid" value="<?php if(!empty($fid)){ ?>{$fid}<?php } ?>">

                        </form>
                        <div class="table-responsive">
                            <div class="title-nav">
                                <?php if(empty($fid)&& empty($fids)){ ?>
                                <a href="{:url('index')}"><span class="all active">全部文章</span></a>
                                <?php }else{ ?>
                                <a href="{:url('index')}"><span >全部文章</span></a>
                                <?php } ?>
                                {foreach name="$list" item="vo" key="k"}
                                <a href="{:url('index',['fid'=>$k])}"><span {if !empty($fid)&&$fid==$k || $fids == $k} name="fid" class="active"{/if}>{$vo}</span></a>
                                {/foreach}
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="10%"><input type="checkbox" name="checkall">全选</th>
                                    <th width="10%">标题</th>
                                    <th width="10%">部门/创建人</th>
                                    <th width="10%">所属板块</th>
                                    <th width="20%">创建时间</th>
                                    <th width="40%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='$content' id='vo'}
                                <tr>
                                    <td><input type="checkbox" class="cjh" value="{$vo.id}" ></td>
                                    <td>{$vo.qtitle}</td>
                                    <td><?php echo $admin_user[$vo['admin_user']]['dp'].">".$admin_user[$vo['admin_user']]['name']; ?></td>
                                    <td>{$list[$vo.fid]}</td>
                                    <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                    <td>
                                        <a href="{:url('ask/usercomment',['id'=>$vo.id])}" style="margin-right:5px;"><button type="button" class="btn btn-outline btn-info answer" data-id='{$vo.id}'>查看评论</button></a>
                                        <button type="button" class="btn btn-outline btn-info alter" onclick="restore_drafts({$vo.id})" data-id='{$vo.id}' >恢复到草稿箱</button>
                                        <button type="button" class="btn btn-outline btn-info del" onclick='del({$vo.id})'>彻底删除</button>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div><button type="button" onclick="alldele()" style="margin-right: 25px"  class="btn btn-primary">删除已选</button><button onclick="restore_drafts_all()" class="btn btn-primary" >恢复已选到草稿箱</button></div>
                            <div style="float: right;width: 50%">
                                <div class="pagesc">共{$content->total()}条记录 共{$content->lastPage()}页</div>{$content->render()}
                                <form action="{:url('index')}" style="margin-top:17px;margin-left:10px;">
                                    <input type="hidden" class="form-control" name="qtitle" value="<?php if(isset($datas['qtitle'])){ ?>{$datas['qtitle']}<?php } ?>"/>
                                    <input type="hidden" class="form-control" name="question" value="<?php if(isset($datas['question'])){ ?>{$datas['question']}<?php } ?>" />
                                    <input type="hidden" class="form-control" name="author" value="<?php if(isset($datas['author'])){ ?>{$datas['author']}<?php } ?>"/>
                                    <input type="hidden" class="form-control" name="class_first" value="<?php if(isset($class_first)){ ?>{$class_first}<?php } ?>"/>
                                    <input type="hidden" class="form-control" name="class_second" value="<?php if(isset($class_second)){ ?>{$class_second}<?php } ?>"/>
                                    <input type="hidden" class="form-control" name="time_starandend" value="<?php if(isset($datas['time_starandend'])){ ?>{$datas['time_starandend']}<?php } ?>"/>
                                    转向第
                                    <input type="number" name="page" style="width: 40px;" min="1">页
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </form>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>
</div>
<script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
<script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/peity/jquery.peity.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/iCheck/icheck.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/demo/peity-demo.min.js"></script>
<script src="{$Think.HTML_STATIC}/js/plugins/layer/layer.js"></script>
<script src="{$Think.HTML_STATIC}/js/zclip/zclip.js"></script>

<script>
    $(function(){
        var classstr = '<?php echo json_encode($class_arr); ?>'
        classarr = JSON.parse(classstr);

        //dom加载完进行判断有没有值，如果有进行选中二级
        if($('#class_first').val()!=''){
            var f_id = $('#class_first').val();
            var f_sid = {if isset($class_second)&&$class_second!=''} {$class_second}{else /}null{/if};
            var _html = '<option value="">请选择二级分类</option>';
            for (x in classarr[f_id]['child']){
                if(f_sid==x){
                    _html += '<option value="'+x+'" selected>'+classarr[f_id]['child'][x]+'</option>'
                }else{
                    _html += '<option value="'+x+'">'+classarr[f_id]['child'][x]+'</option>'
                }
            }
            $('#class_second').html(_html);
        }
        //修改状态
        laydate.render({
            elem: '#time_starandend'
            ,range: true
        });
        //nav 导航
        $(".title-nav span").click(function(){
            $(this).addClass("active").siblings().removeClass("active")
        })
        $('#class_first').change(function () {
            var f_id = $(this).val()
            if(f_id){
                $('#class_second').html('');
            }
            var _html = '<option value="">请选择二级分类</option>';
            for (x in classarr[f_id]['child']){
                _html += '<option value="'+x+'">'+classarr[f_id]['child'][x]+'</option>'
            }
            $('#class_second').html(_html);
        })

        $('#button_reset').click(function () {
            $('form div.row :input').each(function (m,n) {
                $(n).val('');
            })
        })

        $('input[name=checkall]').click(function () {
                if($(this).is(':checked')){
                    $("tbody :checkbox").prop("checked", true);
                }else{
                    console.log(0);
                    $("tbody :checkbox").prop("checked", false);
                }
        })

    });
    
    function checksearchform() {
        var start_time = $('#start_time').val();
        var over_time = $('#over_time').val();
        if((over_time=='' && start_time!='') || (over_time!='' && start_time=='')){
            layer.msg('请选择完整时间')
            return false;
        }
    }
    
    function alldele() {
        var ids = {}
        $("tbody :checkbox:checked").each(function (m,n) {
            ids[m] = $(n).val();
        })
        del(ids);
    }
    <!--全选删除-->
    function del(id) {
        layer.confirm('确定删除吗?', function(index){
            $.ajax({
                type: 'post',
                url: "{:url('del')}",
                data:{vm_id:id},
                dataType: "json",
                success: function(data){
                    if(data.code==1){
                        layer.msg('删除成功');
                        setTimeout(function () {
                            window.location=window.location
                        },1500)
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            layer.close(index);
        });
    }

    function restore_drafts_all() {
        var ids = {}
        $("tbody :checkbox:checked").each(function (m,n) {
            ids[m] = $(n).val();
        })
        restore_drafts(ids);
    }

//    恢复到草稿箱
    function restore_drafts(id) {
        layer.confirm('确定恢复吗?', function(index){
            $.ajax({
                type: 'post',
                url: "{:url('alter')}",
                data:{vm_id:id},
                dataType: "json",
                success: function(data){
                    if(data.code==1){
                        layer.msg('恢复成功');
                        setTimeout(function () {
                            window.location=window.location
                        },1500)
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            layer.close(index);
        });
    }

</script>
</body>
</html>