<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$Think.HTML_STATIC}/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/animate.min.css" rel="stylesheet">
<link href="{$Think.HTML_STATIC}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<style>
.control-label font{ color:#F00;}
.form-group,.m-b{ margin-bottom:5px;}
.hr-line-dashed{ margin:5px 0px;}
</style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:url('index')}">返回邮费模板列表</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:url('add')}">
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font>*</font>模板名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" required placeholder="请输入模板名称" name="tname" value="">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序：</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sort" onkeyup="onlyNonNegative(this)" value="100">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态：</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="status">
                                        <option value="1">正常</option>
                                        <option value="0">停止</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    {:token()}
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" onclick="history.go(-1)" type="button">取消</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.HTML_STATIC}/js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.HTML_STATIC}/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$Think.HTML_STATIC}/js/content.min.js?v=1.0.0"></script>
    <script>

        //通过2步做到输入的为非负数
        //1.去掉多余的小数点
        //2.保证只能输入小数点或数字
        function onlyNonNegative(obj) {
            var inputChar = event.keyCode;
            //alert(event.keyCode);

            //1.判断是否有多于一个小数点
            if(inputChar == 190) { //输入的是否为.
                var index1 = obj.value.indexOf(".") + 1; //取第一次出现.的后一个位置
                var index2 = obj.value.indexOf(".", index1);
                while(index2 != -1) {
                    //alert("有多个.");

                    obj.value = obj.value.substring(0, index2);
                    index2 = obj.value.indexOf(".", index1);
                }
            }
            //2.如果输入的不是.或者不是数字，替换 g:全局替换
            obj.value = obj.value.replace(/[^(\d|.)]/g, "");
        }
    </script>
</body>
</html>