<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=0">
    <link href="{$Think.HTML_STATIC}/css/mui.css" rel="stylesheet">
    <link href="{$Think.HTML_STATIC}/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="self.location=document.referrer;"></a>
    <h1 class="mui-title">服药设置</h1>
    <a class="mui-pull-right" style="line-height: 43px; color:#0875cc">保存</a>
</header>
<div style=" margin-top: 55px;"></div>

<div class="ypmc"><span>药品名称：</span><input type="text" value=""></div>
<div class="fytime"><span>服药时间：</span><font>08:00</font><font>12:00</font><p>+</p></div>
<div class="fyyl"><span>每次用量：</span><input type="text" value="1"> 单位片：<input type="text" value="片"></div>
<div class="fyzq"><span>服药周期：</span><input type="text" value="每天"></div>
<div class="fybz"><span>个人备注：</span><textarea rows="5"></textarea></div>


</body>
</html>